<form class="{{cssClass}} item sheet-content" autocomplete="off">
  {{> "systems/darkspace/templates/partials/items/header.html"}}
  <hr />
  <div class="grid col2 gridcenter">
    {{>"systems/darkspace/templates/partials/items/MKSize.html"}}
  </div>

  <hr />

  <div class="grid col2">
    <input
      type="text"
      name="system.useAktion"
      value="{{item.system.useAktion}}"
    />
    {{> "systems/darkspace/templates/dice/dialogSkillDropdown.html"}}
  </div>

  <!--
    <hr>
    <div class="flex evenly">
        <input type="checkbox" class="symbol" id="isArmor" {{checked this.armor}} name="system.armor">
        <label for="isArmor"><i class="fas fa-shield-alt"></i> Kybernitsche Rüstung</label>
        <input type="checkbox" class="symbol" id="isWeapon" {{checked this.weapon}} name="system.weapon">
        <label for="isWeapon"><i class="fas fa-bolt"></i> Kybernitsche Waffe</label>
    </div>

    
    {{#if this.weapon}}
    <hr>
    <div class="grid col2 gridcenter">
        
        {{> "systems/darkspace/templates/partials/items/weapons.html"}}  
    </div>
    {{/if}}

    </div>

    
-->
  {{> "systems/darkspace/templates/partials/actors/notes.html"}}
</form>
