<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <div class="grid col2-31 gridcenter">
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <select name="data.type"> <!--Zeigt auf den Value, der verändert werden soll. Ja das ist verwirrend mit dem Select-Helper-->
                {{#select data.data.type}} <!--Wählt den Value aus, der Beschrieben werden soll-->
                    {{#each config.features}} <!--Stellt die Liste mit Optionen zusammen-->
                        <option value="{{@key}}" type="text">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    
    </header>
    <div class="sheet-content">
            
        <div class="desc-content">
            <h2>Beschreibung</h2>
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </div>
</form>