<form
  class="{{cssClass}} item sheet-content"
  style="overflow-y: auto"
  autocomplete="off"
>
<h2>{{localize "darkspace.connectDrohnes"}}</h2>
<div class="grid col2-21">
    <div class="borderarea">
        <p>{{localize "darkspace.chooseDrone"}}</p>
        </div>
        <div class="borderarea">

            <select name="system.droneId" style="width: 100%">
                {{#select system.droneId}}
                {{#each system.droneList}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
            <button class="renderApp" data-actorid="{{system.droneData.id}}">{{system.droneData.name}}</button>
        </div>
    </div>
</form>
