
<form class="{{cssClass}} item sheet-content" autocomplete="off">
  {{> "systems/darkspace/templates/partials/items/header.html"}}
  <hr />

  <div class="grid col2" style="align-items: center">
    <div
      class="handlicapCheck  {{#unless system.handicap}}merit{{/unless}}" {{#if system.handicap}}style="background-color: rgb(70, 0, 0);
      color: #fff;"{{/if}}
    >

      <input
        type="checkbox"
        {{checked system.handicap}}
        name="system.handicap"
        id="{{item.id}}prop"
        style="display: none;"
      />
      {{#if system.handicap}}
      <label {{#if system.handicap}}style="background-color: rgb(70, 0, 0);
      color: #fff;"{{/if}} for="{{item.id}}prop">Handicap</label>
      {{/if}} {{#unless system.handicap}}
      <label for="{{item.id}}prop">Vorteil</label>
      {{/unless}}
    </div>
  {{> "systems/darkspace/templates/dice/dialogSkillDropdown.html" context=this slot="slot0" skill=this.system.useWith.slot0.skill}}

  </div>

  {{> "systems/darkspace/templates/partials/actors/notes.html"}}
</form>
