<form class="{{cssClass}} item sheet-content" autocomplete="off">
    <div class="grid col2-21">
        {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}
        <div class="cell_c">
            
            {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogSkillDropdown.html"}}
        <div class="handlicapCheck {{#if data.data.handicap}}handicap{{/if}} {{#unless data.data.handicap}}merit{{/unless}}">
            <input type="checkbox" invisible {{checked data.data.handicap}} class="item-quick-edit" name="data.handicap" id="{{id}}prop">
            {{#if data.data.handicap}}
            <label for="{{id}}prop">Handicap</label>
            {{/if}}

            {{#unless data.data.handicap}}
            <label for="{{id}}prop">Vorteil</label>
            {{/unless}}
        </div>

    </div>
    </div>

    

    {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}
</form>
