
<form class="{{cssClass}} item sheet-content" autocomplete="off">
  {{> "systems/darkspace/templates/partials/items/header.html"}}
  <hr />

  <div class="grid col2" style="align-items: center">
    <div
      class="handlicapCheck  {{#unless handicap}}merit{{/unless}}" {{#if handicap}}style="background-color: rgb(70, 0, 0);
      color: #fff;"{{/if}}
    >
      <input
        type="checkbox"
        invisible
        {{checked
        handicap}}
        class="item-quick-edit"
        name="system.handicap"
        id="{{id}}prop"
      />
      {{#if handicap}}
      <label {{#if handicap}}style="background-color: rgb(70, 0, 0);
      color: #fff;"{{/if}} for="{{id}}prop">Handicap</label>
      {{/if}} {{#unless handicap}}
      <label for="{{id}}prop">Vorteil</label>
      {{/unless}}
    </div>
    {{>
    "systems/darkspace/templates/dice/dialogSkillDropdown.html"}}
  </div>

  {{> "systems/darkspace/templates/partials/actors/notes.html"}}
</form>
