<form class="{{cssClass}} item" autocomplete="off">
  <div>{{> "systems/darkspace/templates/partials/items/header.html"}}</div>

  <hr />
  <div class="sheet-content">
    <!--Itemsheet-Body-->
    <div class="flex evenly">
      <div>{{> "systems/darkspace/templates/partials/items/weapons.html"}}</div>
      <div>{{>"systems/darkspace/templates/partials/items/MkSize.html"}}</div>
    </div>
    <div>
      {{> "systems/darkspace/templates/partials/techCortexHealth.html"}}
    </div>
    {{> "systems/darkspace/templates/partials/actors/notes.html"}}
  </div>
</form>
