<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}
        
    <div class="sheet-content">
        <div class="grid col3">
            <span>Panzerung</span>
            <span>Schutz</span>
            <span>Körperzonen</span>
        </div>
        <div class="grid col3">
            <span>{{data.data.armor}}</span>
            <span>{{data.data.protection}}</span>
            <span>{{data.data.bodyPart}}</span> 
        </div>

    </div>
    <div class="grid col2 ">
        <div class="desc-content">
            <h2>Module</h2>
            {{editor content=data.data.modules target="data.data.modules" button=true owner=owner editable=editable rollData=rollData}}
        </div>
        <div class="desc-content">
            <h2>Beschreibung</h2>
            {{editor content=data.data.description target="data.data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>
        
    </div>
</form>
