<form class="{{cssClass}} item" autocomplete="off">
    {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}

    <div class="grid col3-211">
        <div class="container_center">
            <h3>Panzerung und Schutz</h3>
            <input name="data.range" type="text" value="{{data.data.structure}}W + {{data.data.protection}}" disabled>
        </div>
        {{>"systems/darkspace/templates/partials/MKSize.html"}}
        
    </div>
    


    <div class="sheet-content">
        {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}
    </div>
</form>



<!-- <div class="grid col2-21">
        {{#if this.data.data.bodyPart}}
        <select name="data.bodyPart">
            {{#select data.data.bodyPart}}
                {{#each config.bodyPart as |name attrname|}}
                    <option value="{{attrname}}" type="text">{{name}}</option>
                {{/each}}
            {{/select}}
        </select>
        {{/if}}
    </div> -->