<form class="{{cssClass}} item sheet-content grid col2" autocomplete="off">
  <div>
    {{> "systems/darkspace/templates/partials/items/header.html"}}
    <div class="bigsize flex around">
      {{>"systems/darkspace/templates/partials/items/MkSize.html"}}
    </div>
    <div class="grid col3">
      {{> "systems/darkspace/templates/partials/items/weapons.html"}}
    </div>
    <hr />
    <div>
      <h3>Zustände</h3>
      {{> "systems/darkspace/templates/partials/techCortexHealth.html"}}
      <div>{{> "systems/darkspace/templates/partials/items/bots.html"}}</div>
    </div>
    <hr />
    <div>{{> "systems/darkspace/templates/partials/items/itemProp.html"}}</div>
  </div>
  <div>
    <h2>Beschreibung</h2>
    {{editor system.description target="system.description" button=true
    owner=owner editable=editable rollData=rollData}}
  </div>
</form>
