<form class="{{cssClass}} item" autocomplete="off">
    <div class="grid col2-21">
        <div>
            {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}
        </div>
        <div>
            <div>
                {{>"systems/darkspace/templates/partials/MKSize.html"}}
            </div>
            <div class="grid col2-21">
                <span>Komfort</span>
                <input class="value_box" type="number" name="data.comfort" value="{{data.data.comfort}}">
            </div>
        </div>
    </div>


    {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}
        
    
</form>
