<form class="{{cssClass}} item" autocomplete="off">

        
    {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}
    <div class="grid col3-211 gridcenter">
        <div class="text_c">
            <h3>Komfort</h3>
            <input class="value_box" type="number" name="data.comfort" value="{{data.data.comfort}}">
        </div>
        {{>"systems/darkspace/templates/partials/MKSize.html"}}
    </div>

    {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}

    {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}
        
    
</form>
