<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}

    
    
    <div class="sheet-content">
        
        <div class="desc-content">
            <h2>Module</h2>
            {{editor content=data.data.module target="data.module" button=true owner=owner editable=editable rollData=rollData}}
        </div>
        <div class="desc-content">
            <h2>Beschreibung</h2>
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </div>
        
    
</form>
