<form class="{{cssClass}} item" autocomplete="off">
    <div >
        {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}
        
    </div>

    <hr>
    <div class="sheet-content"> <!--Itemsheet-Body-->
        <div class="grid col4-2211 gridcenter">
            {{> "systems/darkspace/templates/partials/sub-partials/items-weapons.html"}}       
        
        {{>"systems/darkspace/templates/partials/MKSize.html"}}
    </div>
        {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}
        
        
    </div>
</form>
