<form class="{{cssClass}} item" autocomplete="off">
    <div >
        {{> "systems/darkspace/templates/partials/sub-partials/items-header.html"}}
        
    </div>

    <hr>
    <div class="sheet-content"> <!--Itemsheet-Body-->
        <div class="grid col4-2211 gridcenter">
            
            <div class="grid col2-12 nogap gridcenter"> <!-- Box für Durchschlag -->
                <i class="fas fa-bolt cell_c doublesize"></i>
                <div>
                    <span class="flex">Durchschlag</span>
                    <div class="container_center">
                        <span class="derivedValue"></i>{{data.data.dmg}}</span>
                    </div>
                </div>
            </div>

            <div class="grid col2-12 nogap gridcenter"> <!--Box für Reichweite-->
                <div>
                    <input type="checkbox" class="symbol" id="ranged" {{checked data.data.ranged}} name="data.ranged">
                    <label for="ranged" class="container_center">
                        <span>
                        {{#if data.data.ranged}}
                        <i class="fas fa-arrows-alt-h cell_c doublesize"></i>
                        {{/if}}
                        {{#unless data.data.ranged}}
                        <i class="fas fa-fist-raised doublesize"></i>
                        {{/unless}}
                        
                        </span>
                    </label>
                </div>
                <div>
                    <span>Reichweite</span>
                    <input name="data.range" type="text" value="{{data.data.range}}" disabled>
                </div>
                
                <!-- <p class="flex cell_c">Rw-Bonus: <input name="data.rangeBonus" type="number" value="{{data.data.rangeBonus}}"></p> -->
            </div>            
            
            
                {{>"systems/darkspace/templates/partials/MKSize.html"}}
            
            
            
        </div>
        {{> "systems/darkspace/templates/partials/sub-partials/misc-notes.html"}}
        
        
    </div>
</form>
