<!-- combat-armor.html -->
<div>
  <h2>Panzerung</h2>

  <ul class="item-list">
    {{#each items.Panzerung}}
    <li class="item" data-item-id="{{this._id}}">
      <div>
        <div class="grid col-weapons">


          <span><span class="itemname" draggable="true" data-itemid="{{this._id}}"></i> {{this.name}}
          </span><div>
            {{>
            "systems/darkspace/templates/partials/items/inlineHealth.html"}}
          </div></span>

          <span class="tooltip"><i class="fa-solid fa-shield"></i> {{this.system.structure}}<span
              class="tooltiptext top"
              ><i class="fa-solid fa-shield"></i>{{this.system.structure}} =
              <i class="fa-solid fa-expand-arrows-alt"></i>{{this.system.size}}
              + <i class="fa-solid fa-microchip"></i>{{this.system.mk}}</span
            >

          </span>
          <span>
            <input 
              type="checkbox" 
              class="inlineItemEdit hidden"
              id="{{this._id}}_equipped" 
              data-itemStat="system.equipped"
              data-itemId="{{this._id}}" 
              {{checked system.equipped}}>
            
            <label for="{{this._id}}_equipped" class="{{#unless system.equipped}}opacity50 {{/unless}}inline">
              <i
                class="fa-solid fa-shield-alt"></i>
              {{#if system.equipped}}Ausgerüstet{{/if}}
              {{#unless system.equipped}}Abgelegt{{/unless}}
            </label>
          </span>
          <span class="text_c">{{>
            "systems/darkspace/templates/partials/items/MkSize_display.html"}}</span>
          <div class="cell_r">

            {{>
            "systems/darkspace/templates/partials/items/editDeleteEquip.html"}}
          </div>
        </div>
      </div>
    </li>{{/each}}
  </ul>

</div>