<div>
  <div class="health-monitor">
    <!-- Health -->

    <ul class="flex start">
      {{#ifCond this.actor.type "!=" "Maschine"}} {{#ifCond
      this.actor.type "!=" "KI"}}
      <li style="align-items: center; height: 55px">
        <img style="width: 30px;" src="/systems/darkspace/icons/ui/mon_body.svg" alt="">
      </li>
      {{/ifCond}} {{/ifCond}}
      {{#ifCond this.actor.type "===" "Maschine"}}
      <li style="align-items: center; height: 55px">
        <img style="width: 30px;" src="/systems/darkspace/icons/ui/mon_tech.svg" alt="">
      </li>
      {{/ifCond}}
       {{#each system.bodyConditions as |value key|}}
      <li class="flex borderbox round" style="height: 55px;">
        <input
          type="checkbox"
          class="noDisplay"
          {{checked
          value}}
          name="system.bodyConditions.{{key}}"
          id="{{../actor.id}}_bodyConditions_{{key}}"
        />

        <label
          class="flex center borderbox"
          for="{{../actor.id}}_bodyConditions_{{key}}"
        >
          <div class="tooltip">
            {{#with (lookup ../system.bodymon key)}}
            <i class="{{this.fontsymbol}}"></i>
            <span class="tooltiptext top">{{this.name}}</span>
            <div style="height: 15px;">
              {{hit}}
            </div>
            {{#ifCond ../../this.actor.type "!=" "Maschine"}}
            <div style="height: 15px;" class="anmerkung">({{hitBase}})</div>
            {{/ifCond}}
            {{/with}}
          </div>
        </label>
      </li>
      {{/each}}
    </ul>


    <!-- Cortex Health -->

    <ul class="flex start">
      <li style="align-items: center; height: 45px">
        <img style="width: 30px;" src="/systems/darkspace/icons/ui/mon_hack.svg" alt="">
      </li>
      {{#each system.cortexConditions as |value key|}}
      <li class="flex borderbox round" style="height: 45px;">
        <input
          type="checkbox"
          class="noDisplay"
          {{checked
          value}}
          name="system.cortexConditions.{{key}}"
          id="{{../actor.id}}_cortexConditions_{{key}}"
        />

        <label
          class="flex center borderbox"
          for="{{../actor.id}}_cortexConditions_{{key}}"
        >
        <div class="tooltip">
          {{#with (lookup ../system.cortexmon key)}}
          <i class="{{this.fontsymbol}}"></i>
          <span class="tooltiptext top">{{this.name}}</span>
          <div style="height: 15px;">
            {{hit}}
          </div>
          {{/with}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <hr />
  <!-- AKTIONEN -->
  <div class="grid col2">
    <!-- Aufrappeln -->
    <div>
      <h3><i class="fa-solid fa-running"></i>{{localize "darkspace.Aufrappeln"}}</h3>
      <div>
        {{#ifCond actor.type "===" "Charakter"}}
        <!-- Aufrappeln FIT -->
        {{>"systems/darkspace/templates/partials/actors/actionBtn.html"
        skillname="Fitness" skillAttr=system.stats.Konstitution.attribut
        skillVal=system.stats.Konstitution.skill.Fitness}} {{/ifCond}}
        {{#ifCond actor.type "===" "Nebencharakter"}}
        <!-- Aufrappeln KRA -->
        {{>"systems/darkspace/templates/partials/actors/actionBtn.html"
        skillname="Kraft" skillAttr=system.stats.Körper.attribut
        skillVal=system.stats.Körper.skill.Kraft}} {{/ifCond}} {{#ifCond
        actor.type "===" "Maschine"}}
        <!-- Aufrappeln Größe -->
        {{>"systems/darkspace/templates/partials/actors/actionBtn.html"
        skillname="Größe" skillAttr=system.size skillVal=system.size}}
        {{/ifCond}} {{#ifCond actor.type "!=" "Maschine"}}
        <!-- Aufrappeln WIL -->
        {{>"systems/darkspace/templates/partials/actors/actionBtn.html"
        skillname="Willenskraft"
        skillAttr=system.stats.Konzentration.attribut
        skillVal=system.stats.Konzentration.skill.Willenskraft}}
        {{/ifCond}}
        <!-- Aufrappeln SYN -->
        {{>"systems/darkspace/templates/partials/actors/actionBtn.html"
        skillname="Synthese" skillAttr=system.stats.Kybernese.attribut
        skillVal=system.stats.Kybernese.skill.Synthese}}
      </div>
    </div>
    <!-- Schutz -->
    <div>
      <h3><i class="fa-solid fa-shield-alt"></i>{{localize "darkspace.Schutzprobe"}}</h3>

      {{#ifCond actor.type "===" "Charakter"}}

      <!-- Motorik Schutz -->
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Motorik" skillAttr=system.stats.Geschick.attribut
      skillVal=system.stats.Geschick.skill.Motorik}}

      <!-- Fitness Schutz -->
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Fitness" skillAttr=system.stats.Konstitution.attribut
      skillVal=system.stats.Konstitution.skill.Fitness}} {{/ifCond}}
      {{#ifCond actor.type "===" "Nebencharakter"}}

      <!-- Kraft Schutz -->
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Kraft" skillAttr=system.stats.Körper.attribut
      skillVal=system.stats.Körper.skill.Kraft}}

      <!-- Beweglichkeit Schutz -->
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Beweglichkeit" skillAttr=system.stats.Körper.attribut
      skillVal=system.stats.Körper.skill.Beweglichkeit}} {{/ifCond}}

      <!-- Beweglichkeit Größe -->
      {{#ifCond actor.type "===" "Maschine"}}
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Größe" skillAttr=system.mk skillVal=system.size}}

      <!-- Beweglichkeit Beschleunigung -->
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Beschleunigung" skillAttr=system.stats.Leistung.attribut
      skillVal=system.stats.Leistung.skill.Beschleunigung}} {{/ifCond}}

      <!-- Synthese Schutz -->
      {{>"systems/darkspace/templates/partials/actors/protectionBtn.html"
      skillname="Synthese" skillAttr=system.stats.Kybernese.attribut
      skillVal=system.stats.Kybernese.skill.Synthese}}
    </div>
  </div>
</div>
