{{#ifCond this.item.type "===" "Artifizierung"}}
<label for="{{_id}}_prosthetic" class="grid center col3-121" style="
background-color: var(--main);
padding: 3px 0px;
border-radius: 5px;"


>
  {{#if system.prosthetic}}
  <span><i class="fa-regular fa-circle-left"></i></span><span>Prothese</span><span><i class="fa-solid fa-circle-right"></i></span>
  {{else}}
  <span><i class="fa-solid fa-circle-left"></i></span><span>Implantat</span><span><i class="fa-regular fa-circle-right"></i></span>
  
  
  {{/if}} </label
><input
  type="checkbox"
  name="system.prosthetic"
  id="{{_id}}_prosthetic"
  {{checked
  system.prosthetic}}
  class="hidden"
/>
<hr>
{{/ifCond}} {{#if system.prosthetic}} {{#if this.item.parent.type}}
<div class="">
  <select name="system.useAttr">
    <!--Charaktere-->
    {{#select system.useAttr}} {{#ifCond this.item.parent.type "==="
    "Charakter"}} {{#each config.attrList}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}
    <!--NPCs-->
    {{#ifCond this.item.parent.type "===" "Nebencharakter"}}{{#each
    config.attrNpc}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--Fahrzeuge-->
    {{#ifCond this.item.parent.type "===" "DrohneFahrzeug"}} {{#each
    config.attrVehicle}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--KIs-->
    {{#ifCond this.item.parent.type "===" "KI"}} {{#each config.attrAi}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}} {{/select}}
  </select>

  <div
    >Maximaler Attributswert auf {{system.attrMaxBonus}} erhöht.</div
  >
</div>
{{else}}
<span class="anmerkung">
  Für die Auswahl eines Attributes, muss die Artifizierungen einem Charakter,
  Nebencharakter, Fahrzeug/Drohne oder KI zugeweisen werden.
</span>
{{/if}} {{/if}}

<div>
  <div>
    <h3 class="flex between">
      {{localize "darkspace.Eigenschaften"}}
      <span>
        <span class="tooltip">
          <i class="fa-solid fa-circle-plus addProp pointer bigsize"></i>
          <span class="tooltiptext bottom">Aktion hinzufügen</span>
        </span>
        <span class="tooltip">
          <i class="fa-solid fa-database pointer bigsize addPropTemplate"></i>
          <span class="tooltiptext left">Eigenschaft von Template hinzufügen</span>
        </span>
      </span>
    </h3>
    <ul>
      {{#each system.props as |value key|}}
      <li class="flex between borderbox">
        <span>
          <span
            class="showtodialog pointer"
            data-title="{{value.prop}}"
            data-content="{{value.desc}}"
            >{{value.prop}}
          </span>

          <div>
            <span class="anmerkung">{{value.skill}} ({{value.action}})</span>
          </div>
        </span>

        <span
          ><a
            class="propEdit"
            title="Eigenschaft bearbeiten"
            data-index="{{@index}}"
          >
            <i class="fa-solid fa-edit"></i>
          </a>

          <a
            ><i
              class="fa-solid fa-trash deleteProp"
              data-index="{{@index}}"
            ></i></a
        ></span>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
