<div>
  <h3 class="flex between">
    Eigenschaften
    <span class="tooltip">
      <i class="fa-solid fa-circle-plus addProp pointer bigsize"></i>
      <span class="tooltiptext bottom">Aktion hinzufügen</span>
    </span>
  </h3>
  <ul>
    {{#each system.props as |value key|}}
    <li class="flex between borderbox">
      <span>
        <span
          class="showtodialog pointer"
          data-title="{{value.prop}}"
          data-content="{{value.desc}}"
          >{{value.prop}}
        </span>

        <div>
          <span class="anmerkung">{{value.skill}} ({{value.action}})</span>
        </div>
      </span>

      <span
        ><a
          class="propEdit"
          title="Eigenschaft bearbeiten"
          data-index="{{@index}}"
        >
          <i class="fa-solid fa-edit"></i>
        </a>

        <a
          ><i
            class="fa-solid fa-trash deleteProp"
            data-index="{{@index}}"
          ></i></a
      ></span>
    </li>
    {{/each}}
  </ul>
</div>
