<div class="grid col2">
  <div>
    <div class="borderarea">
      <h3>
        {{localize "darkspace.sizemkbot"}}
      </h3>
      <div class="bigsize flex around">
        {{>"systems/darkspace/templates/partials/items/MkSize.html"}}
      </div>
      <div style="margin-top: 1ch">
        {{> "systems/darkspace/templates/partials/items/bots.html"}}
      </div>
    </div>

{{#ifCond item.type "!=" "Artifizierung"}}
<div class="flex between borderarea">
  <span>{{localize "darkspace.Fertigkeit"}}</span>
  <select name="system.useWith" id="{{id}}_useWith">
    {{> "systems/darkspace/templates/partials/skillOptions.html" @root
    skill=system.useWith type=item.actor.type}}
  </select>
</div>
{{/ifCond}}
    <div class="borderarea">
      {{> "systems/darkspace/templates/partials/items/itemProp.html"}}
    </div>
  </div>
  <div>
    <div class="borderarea">
      <h3>{{localize "darkspace.Zustände"}}</h3>
      {{> "systems/darkspace/templates/partials/techCortexHealth.html"}}
    </div>
    <h2>{{localize "darkspace.Terminals"}}</h2>
    {{editor system.description target="system.description" button=true
    owner=owner editable=editable rollData=rollData}}
  </div>
</div>
