{{#ifCond actor.type "!=" "KI"}}
<div class="text_c tooltip">
  <span
    ><span><i class="fa-solid fa-expand-arrows-alt"></i></span>
    <span>
      <input
        class="cell_c"
        name="system.size"
        type="number"
        min="0"
        max="20"
        value="{{system.size}}"
      />
    </span>
    <span class="tooltiptext top">{{localize "darkspace.Größe"}}</span></span
  >
</div>
{{/ifCond}}
<div class="text_c tooltip">
  <span
    ><span><i class="fa-solid fa-microchip"></i></span>
    <span>
      <input
        class="cell_c"
        name="system.mk"
        type="number"
        min="0"
        max="10"
        value="{{system.mk}}"
      />
    </span>
    <span class="tooltiptext top">{{localize "darkspace.Modulklasse"}}</span>
  </span>
</div>
{{#ifCond actor.type "!=" "KI"}}
<div class="text_c tooltip">
  <span
    ><span>
      <i class="fa-solid fa-cube"></i>
      <input type="number" disabled value="{{system.structure}}" />
    </span>
    <span class="tooltiptext top">{{localize "darkspace.Struktur"}}</span>
  </span>
</div>
{{/ifCond}}

