<span class="tooltip">
  <i class="fa-solid fa-expand-arrows-alt" style="margin: 0 2px"></i
  >{{this.system.size}}
  <span class="tooltiptext top">{{localize "darkspace.size"}} {{this.system.size}}</span>
</span>
<span class="tooltip">
  <i class="fa-solid fa-microchip" style="margin: 0 2px"></i>{{this.system.mk}}
  <span class="tooltiptext top">{{localize "darkspace.mk"}} {{this.system.mk}}</span>
</span>
<span class="tooltip">
  <i class="fa-solid fa-shield" style="margin: 0 2px"></i>{{this.system.firewall}}
  <span class="tooltiptext top">{{localize "darkspace.Firewall"}} {{this.system.firewall}}</span>
</span>
