
 <!-- Durchschlag -->
<div class="borderbox round text_c">
    <i class="fa-solid fa-bolt cell_c "></i>
    <span class="derivedValue"></i>{{system.dmg}}</span>
</div>
<!-- Reichweite -->
<div class="borderbox round text_c">
    {{#ifCond item.type "===" "Schusswaffe"}}
    <i class="fa-solid fa-arrows-alt-h cell_c "></i> <span>{{system.range}}</span>
    {{/ifCond}}
    {{#ifCond item.type "===" "Nahkampfwaffe"}}
    <i class="fa-solid fa-fist-raised "></i>
    {{/ifCond}}
    {{#ifCond item.type "===" "Terminals"}}
    <i class="fa-solid fa-signal"></i> <span>{{system.range}}</span>
    {{/ifCond}}
</div>

<!-- AE Kosten -->
<div class="borderbox round text_c">
    <i class="fa-solid fa-history cell_c "></i>
    <span class="derivedValue">{{system.aeCost}} AE</span>   
</div>
