<div>
    <a class="combat-control center aeCost" title="aeCost4" data-aeCost=2>2 AE</a>
    <a class="combat-control center aeCost" title="aeCost4" data-aeCost=4>4 AE</a>
    <a class="combat-control center aeCost" title="aeCost4" data-aeCost=6>6 AE</a>
    <a class="combat-control center aeCost" title="aeCost4" data-aeCost=8>8 AE</a>
    <a class="combat-control center aeCost" title="aeCost4" data-aeCost=10>10 AE</a>
</div>

<div class="flex">
    <div class="customAE flex">
        <input type="value" id="customAE" name="customAE" value="" data-aeCost="" type="number">
        <button class="aeCostCustom aeCost">AE</button>
        
    </div>
    
</div>
<a class="fas fa-clock wait"></a>