<!-- character-sheet-items.html -->

<section class="relative">
  <h2>{{localize "darkspace.items"}}</h2>

  <input type="checkbox" id="itemlistcheckbox" class="hidden itemlistdetails" name="system.sheetui.itemlist" {{checked
    system.sheetui.itemlist}} />
  <label class="compactlabel pointer" for="itemlistcheckbox"> {{#if system.sheetui.itemlist}}
    {{localize "darkspace.overview"}}
    {{/if}}
    {{#unless system.sheetui.itemlist}}
    {{localize "darkspace.details"}}
    {{/unless}} <i class="fa-solid fa-eye"></i></label>


  <ul class="item-list compact">
    {{#each items.utilities}}
    <li class="item" data-item-id="{{this._id}}">
      <span class="itemname rollItem" data-item-id="{{this._id}}">
        <img src="{{this.img}}" alt="{{this.name}}">
        {{this.name}}
      </span>
    </li>
    {{/each}}

  </ul>

  <ul class="item-list open">
    {{#each items.utilities}}
    <li class="item utility" data-item-id="{{this._id}}">
      <div class="grid" style="grid-template-columns: auto 10ch 10ch 45px; gap: 1ch 0">
        <span class="itemname rollItem" data-item-id="{{this._id}}">
          <img src="{{this.img}}" alt="{{this.name}}">
          {{this.name}} <span class="anmerkung">({{this.system.useWith}})</span>
        </span>



        <span class="cell_c">{{>
          "systems/darkspace/templates/partials/items/MkSize_display.html"}}</span>
        <div class="cell_r">
          {{>
          "systems/darkspace/templates/partials/items/editDeleteEquip.html"}}
        </div>
      </div>
      <div>
        {{> "systems/darkspace/templates/partials/actors/inventar_proplist.html"}}
      </div>
    </li>
    {{/each}}
  </ul>


</section>

<section class="relative">
  <h2>{{localize "darkspace.machines"}}</h2>

  <ul class="item-list">
    {{#each items.drone}}
    <li class="item" data-item-id="{{_id}}">
      <div class="grid" style="grid-template-columns: auto 10ch 45px; gap: 1ch 0">
        <span class="itemname renderapp pointer" data-actorid="{{system.droneId}}">
          <span>{{name}}:
            {{system.droneData.name}}</span> <i class="fa-solid fa-link"></i>
          {{#with system.droneData}}
          <div>
            {{> "systems/darkspace/templates/partials/items/inlineHealth.html"}}
          </div>
          {{/with}}
        </span>

        <span class="cell_c">{{#with system.droneData}}
          {{>
          "systems/darkspace/templates/partials/items/MkSize_display.html"}}
          {{/with}}
        </span>
        <div class="cell_r">
          {{>
          "systems/darkspace/templates/partials/items/editDeleteEquip.html"}}
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</section>