<div>
  {{#if system.playable}}
  <div class="anmerkung flex between">
    <span></span>
    <ul class="flex">
      <li class="pill padding">
        <span>{{localize "darkspace.baseDicepool"}}</span>
        <span>{{system.compXp}} EP</span>
      </li>
      <li class="pill padding">
        <span>{{localize "darkspace.aptitudes"}}</span>
        <span>{{system.totalAttrXp}} EP</span>
      </li>
      <li class="pill padding">
        <span>{{localize "darkspace.skills"}}</span>
        <span>{{system.totalSkillXp}} EP</span>
      </li>
      <li class="pill padding">
        <span>{{localize "darkspace.boons"}}</span>
        <span>{{system.totalPropXp}} EP</span>
      </li>
    </ul>

    <!--
      <div class="flex between pill padding" style="width: 100%">
        <span>Start EP</span><span>{{system.startEp}}</span>
      </div>
    -->
    </span>
    <span>
      <div>
        <span>{{system.totalXp}} /</span>
        <input name="system.xp.max" value="{{system.xp.max}}" type="number" min="0" max="10" style="flex: 1" />
        EP
      </div>
      <div class="pill padding">{{system.xpAvailable}} {{localize "darkspace.xpAvailable"}}</div>
    </span>
  </div>
  <hr />
  {{/if}}

  <div class="grid col2">

    {{#ifCond actor.type "!=" "Charakter"}} {{#ifCond actor.type "!="
    "Nebencharakter"}}

    {{#ifCond actor.type "!=" "KI"}}

    <h2 class="flex between"><span>{{localize "darkspace.size"}}</span>
      <span><i class="fa-solid fa-expand-arrows-alt"></i>
        <input class="cell_c" name="system.size" type="number" min="0" max="20" value="{{system.size}}" />
      </span>
    </h2>
    <h2 class="flex between"><span>{{localize "darkspace.mk"}}</span>
      <span><i class="fa-solid fa-microchip"></i>
        <input class="cell_c" name="system.mk" type="number" min="0" max="20" value="{{system.mk}}" />
      </span>
    </h2>
    {{/ifCond}}

    {{/ifCond}} {{/ifCond}}

    <h2 class="flex between"><span>Kompetenz</span>
      <!-- Diesen Bereich zu einem Partial (siehe actor/counter.html) machen-->
      <span class="counter-container" style="margin-left: 10px;">
        {{#times system.effectiveCompetence}}
        <i class="counter fa-solid fa-square" data-set=full data-address="system.baseDicepool"></i>
        {{/times}}
        {{#times (math system.baseDicepool "-" system.effectiveCompetence)}}
        <i class="counter fa-solid fa-square darkred" data-set=part data-address="system.baseDicepool"></i>
        {{/times}}
        {{#times (math 5 "-" system.baseDicepool)}}
        <i class="counter fa-regular fa-square" data-set=false data-address="system.baseDicepool"></i>
        {{/times}}
      </span>
    </h2>

    <h2 class="flex between"><span>Belastung</span>
      <!-- Diesen Bereich zu einem Partial (siehe actor/counter.html) machen-->
      <span class="counter-container" style="margin-left: 10px;">
        {{#times system.stress.value}}
        <i class="counter fa-solid fa-square darkred" data-set=full data-address="system.stress.value"></i>
        {{/times}}
        {{#times (math system.stress.max "-" system.stress.value)}}
        <i class="counter fa-regular fa-square darkred" data-set=false data-address="system.stress.value"></i>
        {{/times}}
      </span>
    </h2>



    <hr />

  </div>
  <ul class="grid col2" style="gap: 1ch">
    {{#each system.stats as |dicepoolobj dicepoolname|}}
    <li class="dicepoolfeld">
      <!--ATTRIBUTE für Charaktere-->

      <div class="flex between">
        <span>
          {{localize (lookup (concat "darkspace." dicepoolname) "string")}}
          <span style="margin: 0 1ch">
            {{#each ../items.cybernetics}} {{#if system.prosthetic}}
            {{#ifCond system.useAttr "===" dicepoolname}}
            <i class="fa-solid fa-arrow-up-wide-short"></i>
            {{system.dicepoolMaxBonus}}{{/ifCond}}{{/if}}{{/each}}
          </span>
        </span>


        <span class="flex end">
          <span class="dicepoolvalue">

            <span class="counter-container" style="margin-left: 10px;">
              <i class="counter fa-regular fa-minus pointer" data-set="minus"
                data-address="system.stats.{{dicepoolname}}.dicepool"></i>

              <span>
                {{#times dicepoolobj.dicepool}}
                <i class="counter fa-solid fa-square pointer" data-set="true"
                  data-address="system.stats.{{dicepoolname}}.dicepool"></i>
                {{/times}}
                {{#times (math 3 "-" dicepoolobj.dicepool)}}
                <i class="counter fa-regular fa-square pointer" data-set="false"
                  data-address="system.stats.{{dicepoolname}}.dicepool"></i>
                {{/times}}
              </span>
              <i class="counter fa-regular fa-plus pointer" data-set="plus"
                data-address="system.stats.{{dicepoolname}}.dicepool"></i>

            </span>


          </span>
        </span>
      </div>
      <!--FERTIGKEITEN-->
      <ul class="skillfeld">
        {{#each skill as |skillval skillname|}}
        <li class="skillname flex between">
          <a class="rollSkill" data-skill="{{skillname}}">
            {{localize (lookup (concat "darkspace." skillname) "string")}}
            <span>{{#each ../../system.props}} {{#ifCond skillName "===" skillname}}
              {{#unless handicap}}
              <span class="tooltip">
                <i class="fa-solid fa-dna"></i>

                <span class="tooltiptext top">{{this.prop}}</span>
              </span>

              {{/unless}} {{/ifCond}} {{/each}}</span>
            <span>
              {{#each ../../system.props}} {{#ifCond skillName "===" skillname}}
              {{#if handicap}}<span class="tooltip">
                <i class="fa-solid fa-minus-circle handicap"></i>

                <span class="tooltiptext top">{{this.prop}}</span> </span>{{/if}} {{/ifCond}} {{/each}}
            </span>
            <span>

              {{#each ../../items.cybernetics}}

              {{#ifCond
              this.system.useWith "===" skillname}}
              <span class="tooltip">
                <i class="fa-solid fa-microchip"></i>

                <span class="tooltiptext top">{{../name}}
                  <i class="fa-solid fa-caret-right"></i> {{action}}</span> </span>{{/ifCond}}
              {{/each}}
            </span>
          </a>
          <div class="skillbox">
            <input class="value_box" name="system.stats.{{dicepoolname}}.skill.{{skillname}}" value="{{this}}"
              type="number" min="0" max="10" />
          </div>
        </li>
        {{/each}}
      </ul>
    </li>

    {{/each}}
  </ul>
</div>