<section>

    <div class="grid col3">

        <div class="grid">
            
            <div class="cell_d">
                
                {{> "systems/darkspace/templates/partials/sub-partials/stat-health.html"}}
                
            </div>
            
        </div>
        
        
        
        <div>
            
            <img class="actorimg" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <nav class="sheet-tabs tabs grid col2 gridcenter" data-group="primary">
                <a class="item" data-tab="stats">Werte</a>
                <a class="item" data-tab="combat">Kampf</a>
                <a class="item" data-tab="items">Items</a>
                <a class="item" data-tab="notes">Notizen</a>
            </nav>
        </div>
        <div class="cell_d">
            <div class="grid gridcenter">
                <h2>Initiative</h2>
                {{> "systems/darkspace/templates/partials/sub-partials/combat-initiative.html"}}
            </div>
            {{> "systems/darkspace/templates/partials/sub-partials/rollcustomdice.html"}}
        </div>
        

    </div>
    

</section>
