<section>
  <div>
    <h2><i class="fa-solid fa-dna"></i> Eigenschaften</h2>
    <ul class="item-list">
      {{#each items.Eigenschaft}}
      <li class="item flex between item" data-item-id="{{this._id}}">
        <span class="item-control" title="Edit Item"
          >{{#if system.handicap}}<i
            class="fa-solid fa-minus-circle handicap"
          ></i>
          {{/if}}{{name}}
          <span class="anmerkung">{{system.useWith}}</span></span
        >
        <div>
          {{>
          "systems/darkspace/templates/partials/items/editDeleteEquip.html"}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <h2><i class="fa-solid fa-microchip"></i> Artifizierungen</h2>
    <ul class="item-list">
      {{#each items.Artifizierung}}
      <li class="item flex between item" data-item-id="{{this._id}}">
        <span class="item-control" title="Edit Item"
          >{{name}}
          <span class="anmerkung"></span>
            <i class="fa-solid fa-caret-right"></i> {{#if
            system.prosthetic}}{{system.useAttr}}{{else}} {{system.useWith}}
            ({{system.useAktion}}){{/if}}</span
          ></span
        >
        <div>
          {{>
          "systems/darkspace/templates/partials/items/editDeleteEquip.html"}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
