
    <div class="grid col2-21">
        <div>
            <h2>Attribute und Fertigkeiten</h2>
            <ul class="grid col2">
            
                {{#each data.data.charattribut as |attrobj attrname|}}
                    
                    <li class="attrfeld">
                        <span class="attrname">{{attrname}}</span>
                        <span class="attrvalue">
                            <input class="value_box" name="data.charattribut.{{attrname}}.attribut" value="{{attrobj.attribut}}" type="number">
                            W10
                        </span>
                        
                    
                    <ul class="fertfeld">
                        {{#each this.skill as |fertval fertname|}}
                        <li>
                            <a class="roleable" data-rolltype="skill" data-attr="{{attrname}}" data-skill="{{fertname}}">{{fertname}}</a>
                            <input class="value_box" name="data.charattribut.{{attrname}}.skill.{{fertname}}" value="{{this}}" type="number">
                        </li>
                        {{/each}}
                    </ul>
                    {{#if this.ress.exists}}
                    <ul class="fertfeld">
                        <li>
                            <span>{{this.ress.ressname}}</span>
                            <span class="complexvalue"><input class="value_box" name="data.charattribut.{{attrname}}.ress.value" value="{{this.ress.value}}" type="number"> {{#if this.ress.max}}/ {{this.ress.max}} {{/if}}</span>
                        </li>
                    </ul>
                    {{/if}}
                    </li>
                    
                      
                {{/each}}
            </ul>
        </div>
        
        <div class="talent-box">
            <h2>Talente</h2>
            <section>
                <ul>
                {{#each Talent}}
                    <li>
                        <div class="item" data-item-id="{{this._id}}">
                            <span class="itemname">{{this.name}}</span>
                            <span class="talentattr">({{this.data.attribut}})</span>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
                </ul>
            </section>
        </div>
        
    </div>