<section>
    <div class="grid col2">
        <div>
            <div>
                <p>Spieler</p>
                <input name="data.player" value="{{data.player}}" type="text">
            </div>
            <div class="grid col3">
                <div>
                    <p>Allgemeine Erfahrung</p>
                </div>
                <div>
                    <p>Soziele Erfahrung</p>
                </div>
                <div>
                    <p>Ressourcen Erfahrung</p>
                </div>
                <div>
                    <input name="data.xp" value="{{data.xp}}" type="number">
                </div>
                <div>
                    <input name="data.xp_social" value="{{data.xp_social}}" type="number">
                </div>
                <div>
                    <input name="data.xp_ress" value="{{data.xp_ress}}" type="number">
                </div>
            </div>
        </div>
        <div class="commonInfo textbox">
            <h2>Beschreibung:</h2>
            {{editor content=data.data.description target="data.data.description" button=true owner=owner editable=editable rollData=rollData}}
            <!--
            <div class="description_box" data-edit="data.description" contenteditable>
                {{data.description}}
            </div>
            -->
        </div>
    </div>
    <div class="grid col4">
        <div>
            <h3>Betäubungen</h3>
            <input type="range" min="0" max={{data.data.bruises.max}} value="0" class="slider" id="bruises_slider">
            <span id="bruises_value">0</span>
            <span id="bruises_effect"></span>
            <span> / {{data.data.bruises.value}} / </span>
            <span>{{data.data.bruises.max}}</span>
        </div>
        <div>
            <h3>Verletzungen</h3>
        </div>
    </div>
</section>
