<section class="relative">
  <div>
    <h2 class="flex between"><span><i class="fa-solid fa-dna"></i> {{localize "darkspace.boons"}}</span>

      <span><span class="tooltip">
          <i class="fa-solid fa-circle-plus addProp pointer bigsize"></i>
          <span class="tooltiptext left">{{localize "darkspace.boon"}} {{localize "darkspace.add"}}</span>
        </span>

        <span class="tooltip">
          <i class="fa-solid fa-database pointer bigsize addPropTemplate"></i>
          <span class="tooltiptext left">{{localize "darkspace.addProp"}}</span>
        </span></span>
    </h2>

    <ul class="item-list">
      {{#each system.props as |value key|}}

      <li class="item flex between">
        <span class="showtodialog pointer" data-title="{{prop}}" data-content="{{desc}}">{{#if handicap}}
          <i class="fa-solid fa-minus-circle handicap"></i>
          {{/if}}{{prop}} <i
            class="fa-solid fa-caret-right"></i>
          <span class="anmerkung">{{skill}}</span></span>

        <span><a class="propEdit" title="Eigenschaft bearbeiten" data-index="{{@index}}">
            <i class="fa-solid fa-edit"></i>
          </a>
          <a><i class="fa-solid fa-trash deleteProp" data-index="{{@index}}"></i></a></span>
      </li>
      {{/each}}
    </ul>

  </div>
  <div>
    <h2><i class="fa-solid fa-microchip"></i> {{localize "darkspace.artware"}}</h2>
    <ul class="item-list">
      {{#each items.cybernetics as |value key|}}
      <li class="item grid" style="grid-template-columns: auto 10ch 45px; gap: 1ch 0" data-item-id="{{this._id}}">
        <span class="item-control showtodialog pointer" data-title="{{name}}" title="Edit Item">{{name}}
          <span class="anmerkung">
          {{#if system.prosthetic}}{{system.useAttr}} (<i class="fa-solid fa-up-long"></i> {{system.dicepoolMaxBonus}}){{/if}}
          </span>
          {{> "systems/darkspace/templates/partials/actors/inventar_proplist.html"}}
          
        </span></span>
        <span>{{>
          "systems/darkspace/templates/partials/items/MkSize_display.html"}}</span>
        <div>
          {{>
          "systems/darkspace/templates/partials/items/editDeleteEquip.html"}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>