{{#select this.skill}}
{{#unless type}}<option value="{{this}}">
    {{#each system.allSkills}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}}
{{/unless}}
    
<!--Charaktere-->
{{#ifCond this.type "===" "Charakter"}}{{#each
config.skillList}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}}

<!--NPCs-->
{{#ifCond this.type "===" "Nebencharakter"}} {{#each config.skillListNpc}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}}

<!--Fahrzeuge-->
{{#ifCond this.type "===" "Maschine"}} {{#each config.skillListVehicle}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}}

<!--KIs-->
{{#ifCond this.type "===" "KI"}} {{#each config.skillListAi}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}} {{/select}}