{{#select this.skill}}
{{#unless type}}<option value="{{this}}">
    {{#each system.allSkills}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}}
{{/unless}}
    
<!--Charaktere-->
{{#ifCond this.type "===" "Charakter"}}{{#each
config.statLists.Charakter.skillList}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}}

<!--Cyborgs-->
{{#ifCond this.type "===" "Cyborg"}}{{#each
config.statLists.Cyborg.skillList}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}}

<!--Fahrzeuge-->
{{#ifCond this.type "===" "Maschine"}} {{#each config.statLists.Maschine.skillList}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}}

<!--KIs-->
{{#ifCond this.type "===" "KI"}} {{#each config.statLists.KI.skillList}}
<option value="{{this}}" type="text">{{this}}</option>
{{/each}} {{/ifCond}} {{/select}}