<form
  class="{{cssClass}} grid"
  style="grid-template-columns: 250px 1fr; overflow: auto"
  autocomplete="off"
  onunload=""
>
  <!--Info-Header-->
  {{>"systems/darkspace/templates/partials/character-sheet-header.html"}}

  <!--Sheetbody-->
  <section class="sheet-body">
    <section id="navbar">
      <nav class="sheet-tabs tabs flex" data-group="primary">
        <a class="item" data-tab="stats">
          <span class="tooltip"
            ><i class="fas fa-dna"></i
            ><span class="tooltiptext bottom"
              >Attribute und Fertigkeiten</span
            ></span
          >
        </a>
        <a class="item" data-tab="props">
          <span class="tooltip"
            ><i class="fas fa-users-cog"></i
            ><span class="tooltiptext bottom"
              >Eigenschaften und Artifzierungen</span
            ></span
          >
        </a>
        <a class="item" data-tab="combat">
          <span class="tooltip"
            ><i class="fas fa-fist-raised"></i
            ><span class="tooltiptext bottom">Waffen und Rüstung</span></span
          >
        </a>
        <a class="item" data-tab="items">
          <span class="tooltip"
            ><i class="fas fa-suitcase"></i
            ><span class="tooltiptext bottom">Inventar</span></span
          >
        </a>
        <a class="item" data-tab="notes"
          ><span class="tooltip"
            ><i class="fas fa-book"></i
            ><span class="tooltiptext bottom">Notizen</span></span
          ></a
        >
        <!-- Downtime: Vorrübergehend deaktiviert... Erstmal die Regeln dafür klären -->
        <!--
        <a class="item" data-tab="downtime"
          ><span class="tooltip"
            ><i class="fas fa-bed"></i
            ><span class="tooltiptext bottom">Downtime</span></span
          ></a
            -->
      </nav>
    </section>

    <!--Statblock-->
    <section class="tab stats" data-group="primary" data-tab="stats">
      {{> "systems/darkspace/templates/partials/sub-partials/stat-block.html"}}
    </section>

    <!--Props und Artifizierung-->
    <section class="tab combat" data-group="primary" data-tab="props">
      {{>"systems/darkspace/templates/partials/character-sheet-props.html"}}
    </section>

    <!--Kampfrelevante Werte-->
    <section class="tab combat" data-group="primary" data-tab="combat">
      {{>"systems/darkspace/templates/partials/character-sheet-combat.html"}}
    </section>

    <!--downtime-->
    <section class="tab items" data-group="primary" data-tab="downtime">
      {{>"systems/darkspace/templates/partials/character-sheet-downtime.html"}}
    </section>

    <!--Items-->
    <section class="tab items" data-group="primary" data-tab="items">
      {{>"systems/darkspace/templates/partials/character-sheet-items.html"}}
    </section>

    <!--Notizen-->

    <section
      class="tab notes sheet-content"
      data-group="primary"
      data-tab="notes"
    >
      <div class="flex fcol2">
        <div class="desc-content">
          <h2>Beschreibung</h2>
          {{editor content=data.data.description target="data.description"
          button=true owner=owner editable=editable rollData=rollData}}
        </div>
        <div class="desc-content">
          <h2>Notizen</h2>
          {{editor content=data.data.notes target="data.notes" button=true
          owner=owner editable=editable rollData=rollData}}
        </div>
      </div>

      <!-- DEBUG ITEM LIST -->
      <!-- 
        <div>
        <ul class="item-list">
          {{#each items}}
          <li class="item" data-item-id="{{this._id}}">
            {{name}}
            <a class="item-control itemDelete" title="Delete Item"
              ><i class="fas fa-trash"></i
            ></a>
          </li>
          {{/each}}
        </ul>
      </div> -->
    </section>
  </section>
</form>
