<form class="{{cssClass}}" autocomplete="off">
    
    
    
    <!--Info-Header-->
    {{>"systems/darkspace/templates/partials/character-sheet-header.html"}}
    

    <!--Sheetbody-->
    <section class="sheet-body">

        <!--Statblock-->
        <section class="tab stats" data-group="primary" data-tab="stats">
            {{>"systems/darkspace/templates/partials/character-sheet-stat-block.html"}}
        </section>

        <!--Kampfrelevante Werte-->
        <section class="tab combat" data-group="primary" data-tab="combat">
            {{>"systems/darkspace/templates/partials/character-sheet-combat.html"}}
        </section>
    
        <!--Items-->
        <section class="tab items" data-group="primary" data-tab="items">
            {{>"systems/darkspace/templates/partials/character-sheet-items.html"}}
        </section>

        <!--Notizen-->
        
        <section class="tab notes sheet-content" data-group="primary" data-tab="notes">
            <div class="grid col3">
                <div class="cell_c">
                    <h3>Erfahrung</h3> 
                    <div  class="container_center">           
                    <input name="data.xp.value" value="{{data.data.xp.value}}" type="number">/
                    <input name="data.xp.max" value="{{data.data.xp.max}}" type="number">
                    </div>
                </div>
                <div class="cell_c">
                    <h3>Netzwerk-Erfahrung</h3>
                    <div class="container_center">
                    <input name="data.xp_social.value" value="{{data.data.xp_social.value}}" type="number">/
                    <input name="data.xp_social.max" value="{{data.data.xp_social.max}}" type="number">
                    </div>
                </div>
                <div class="cell_c">
                    <h3>Ressourcen-Erfahrung</h3>
                    <div class="container_center">
                    <input name="data.xp_ress.value" value="{{data.data.xp_ress.value}}" type="number">/
                    <input name="data.xp_ress.max" value="{{data.data.xp_ress.max}}" type="number">
                    </div>
                </div>
            </div>
            <div class="flex fcol2">
                <div class="desc-content">
                    <h2>Beschreibung</h2>
                    {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
                </div>
                <div class="desc-content">
                    <h2>Notizen</h2>
                    {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable rollData=rollData}}
                </div>
               
            </div>
            
            
        </section>
    </section>
    
    
</form>