<form class="{{cssClass}} grid actorForm" autocomplete="off" onunload="">

  <!--Info-Header-->
  {{>"systems/darkspace/templates/partials/character-sheet-header.html"}}

  <!--Sheetbody-->
  <section class="sheet-body">
    <section id="navbar">
      <nav class="sheet-tabs tabs flex" data-group="primary">
        <a class="item" data-tab="stats">
          <span class="tooltip"><i class="fa-solid fa-dna"></i><span class="tooltiptext bottom">{{localize "darkspace.aptitudes"}} &
            {{localize "darkspace.skills"}}</span></span>
        </a>
        <a class="item" data-tab="props">
          <span class="tooltip"><i class="fa-solid fa-users-cog"></i><span class="tooltiptext bottom">{{localize "darkspace.boons"}} &
            {{localize "darkspace.artware"}}</span></span>
        </a>
        <a class="item" data-tab="items">
          <span class="tooltip"><i class="fa-solid fa-suitcase"></i><span
              class="tooltiptext bottom">{{system.carriage}}</span></span>
        </a>
        <a class="item" data-tab="notes"><span class="tooltip"><i class="fa-solid fa-book"></i><span
              class="tooltiptext bottom">{{localize "darkspace.notes"}}</span></span></a>
      </nav>
    </section>

    <!--Statblock-->
    <section class="tab stats" data-group="primary" data-tab="stats">

      {{> "systems/darkspace/templates/partials/character-sheet-stats.html"}}
    </section>

    <!--Props und Artifizierung-->
    <section class="tab props" data-group="primary" data-tab="props">
      {{>"systems/darkspace/templates/partials/character-sheet-props.html"}}
    </section>

    <!--Items-->
    <section class="tab items" data-group="primary" data-tab="items">
      {{> "systems/darkspace/templates/partials/actors/combat-weapons.html"}}
      {{> "systems/darkspace/templates/partials/actors/combat-armor.html"}}
      {{> "systems/darkspace/templates/partials/character-sheet-items.html"}}
    </section>

    <!--Notizen-->


    <section class="tab notes sheet-content" data-group="primary" data-tab="notes">
      <div class="flex fcol2 start wrap">
        <div class="cell_t actorimgcontainer">
          <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>


        {{>"systems/darkspace/templates/partials/notes.html"}}
      </div>

      <!-- DEBUG ITEM LIST -->

      {{#if debugModeOn}}
      <div>
        <ul class="item-list">
          {{#each items}}
          {{#each this}}
          <li class="item">
            {{name}} {{id}}
            <a class="item-control itemDelete" title="Delete Item" data-item-id="{{this._id}}"><i
                class="fa-solid fa-trash"></i></a>
          </li>

          {{/each}}
          {{/each}}
        </ul>
      </div>
      {{/if}}


    </section>
  </section>
</form>