<form class="{{cssClass}}" autocomplete="off">
    
    
    
    <div class="grid" style="grid-template-columns: 1fr 3fr;">
        <div>
            <img class="actorimg" style="max-width: 100px;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
            <div class="grid col2 gridcenter">
                <div class="flex column">
                    <span>Modulklasse</span>
                    <input class="value-box" name="data.mk" value="{{data.data.mk}}" type="number">
                </div>
                <div class="flex column">
                    <span>Größenmod.</span>
                    <input class="value-box" name="data.size" value="{{data.data.size}}" type="number">
                    
                </div>

                <div class="flex column">
                    <span>Initiative</span>
                    <input disabled value="{{data.data.initiative}}W" type="text"></input>
                </div>
            </div>

        </div>

        
        <div>

            {{> "systems/darkspace/templates/partials/sub-partials/stat-health.html"}}
            <hr>
            <div class="grid col2 gridcenter">
                <div class="flex column">
                    <span>Min. Fertigkeitsstufe</span>
                    <input disabled value="{{data.data.crewNumber}}" type="text"></input>
                </div>
                <div class="flex column">
                    <span>Passagierzahl und Frachtraum</span>
                    <input disabled value="{{data.data.passengerCargo}}" type="text"></input>
                </div>
            </div>
            <hr>
            {{> "systems/darkspace/templates/partials/sub-partials/combat-fastCombat.html"}}

        </div>
    </div>
</div>

    {{> "systems/darkspace/templates/partials/sub-partials/stat-block.html"}}

    <div>
        <div class="grid col2">
            {{> "systems/darkspace/templates/partials/sub-partials/combat-weapons.html"}}
            {{> "systems/darkspace/templates/partials/sub-partials/combat-armor.html"}}
        </div>
        {{> "systems/darkspace/templates/partials/sub-partials/items-item.html"}}
    </div>
    

    
    
    
</form>