<form class="{{cssClass}} grid actorForm" autocomplete="off">
  <!--Info-Header-->
  {{>"systems/darkspace/templates/partials/character-sheet-header.html"}}

  <!--Sheetbody-->
  <section class="sheet-body">
    <section id="navbar">
      <nav class="sheet-tabs tabs flex" data-group="primary">
        <a class="item" data-tab="stats">
          <span class="tooltip"
            ><i class="fa-solid fa-dna"></i
            ><span class="tooltiptext bottom"
              >{{localize "darkspace.aptitudes"}}, {{localize "darkspace.skills"}} & {{localize "darkspace.boons"}}</span
            ></span
          >
        </a>
<!--
        <a class="item" data-tab="items">
          <span class="tooltip"
            ><i class="fa-solid fa-suitcase"></i
            ><span class="tooltiptext bottom">{{localize "darkspace.inventory"}}</span></span
          >
        </a>
      -->
        <a class="item" data-tab="notes"
          ><span class="tooltip"
            ><i class="fa-solid fa-book"></i
            ><span class="tooltiptext bottom">{{localize "darkspace.notes"}}</span></span
          ></a
        >
      </nav>
    </section>

    <!--Statblock-->
    <section class="tab stats items" data-group="primary" data-tab="stats">
      <h2 class="flex between">Kompetenz

        <!-- Diesen Bereich zu einem Partial (siehe actor/counter.html) machen-->
        <span class="counter-container" style="margin-left: 10px;">
          {{#times system.effectiveCompetence}}
          <i class="counter fa-solid fa-square" data-set=full data-address="system.baseDicepool"></i>
          {{/times}}
          {{#times (math system.baseDicepool "-" system.effectiveCompetence)}}
          <i class="counter fa-solid fa-square darkred" data-set=part data-address="system.baseDicepool"></i>
          {{/times}}
          {{#times (math 4 "-" system.baseDicepool)}}
          <i class="counter fa-regular fa-square" data-set=false data-address="system.baseDicepool"></i>
          {{/times}}
        </span>
        

        
              <div class="customDiceBox">
                <div class="flex" style="flex: 1;">
                    <button 
                        class="rollSkill"       
                        data-disadv="false">
                        <span class="tooltip">
                            <i class="fa-solid fa-reply"></i>
                            <span class="tooltiptext top">Würfeln</span>
                        </span>
                    </button>
                    <button 
                        class="rollSkill d10disadv"       
                        data-disadv="true">
                        <span class="tooltip">
                            <i class="fa-solid fa-exclamation-triangle"></i>
                            <span class="tooltiptext top">Würfeln mit Erschwernis</span>
                        </span>
                        
                    </button>
                </div>
      </h2>
        
    </div>

      {{>"systems/darkspace/templates/partials/character-sheet-props.html"}}
      {{> "systems/darkspace/templates/partials/actors/combat-weapons.html"}}
      {{> "systems/darkspace/templates/partials/actors/combat-armor.html"}}
      {{> "systems/darkspace/templates/partials/character-sheet-items.html"}}
    </section>

    <!--Items-->
    <!--
    <section class="tab items" data-group="primary" data-tab="items">
      
    </section>
  -->

    <!--Notizen-->

    <section
      class="tab notes sheet-content"
      data-group="primary"
      data-tab="notes"
    >
      <div
        class="cell_t actorimgcontainer"
        style="width: 150px; margin: 0 auto"
      >
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </div>
      <div class="flex fcol2 start">
        {{>"systems/darkspace/templates/partials/notes.html"}}
      </div>

      <!-- DEBUG ITEM LIST -->
      <!-- 
        <div>
        <ul class="item-list">
          {{#each items}}
          <li class="item" data-item-id="{{this._id}}">
            {{name}}
            <a class="item-control itemDelete" title="Delete Item"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </li>
          {{/each}}
        </ul>
      </div> -->
    </section>
  </section>
</form>
