<form class="{{cssClass}}" autocomplete="off">
    
    
    
    <div class="grid col3">
        <div>
            <img class="actorimg" style="max-width: 100px;" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <h3 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
            <div class="grid col2 gridcenter">
                <div>
                    <span>BS</span>
                    <input class="value-box" name="data.Bedrohungsstufe" value="{{data.data.Bedrohungsstufe}}" type="number">
                </div>
                <span>Initiative: {{data.data.initiative}}W</span>
            </div>
        </div>

        {{> "systems/darkspace/templates/partials/sub-partials/stat-health.html"}}
        <div>
            <h2>Schnellwahl</h2>
            {{> "systems/darkspace/templates/partials/sub-partials/combat-fastCombat.html"}}
            <hr>
            {{> "systems/darkspace/templates/partials/sub-partials/rollcustomdice.html"}}

        </div>
    </div>

    {{> "systems/darkspace/templates/partials/sub-partials/stat-block.html"}}

    <div class="grid col2">
        {{> "systems/darkspace/templates/partials/sub-partials/combat-weapons.html"}}
        {{> "systems/darkspace/templates/partials/sub-partials/combat-armor.html"}}
        {{> "systems/darkspace/templates/partials/sub-partials/stat-property.html"}}
        {{> "systems/darkspace/templates/partials/sub-partials/items-item.html"}}
    </div>
    

    
    
    
</form>