<div>
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogName.html"}}
    <div class="grid col2">
        {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogMkSize.html"}}
    </div>


    <div class="block text_c">
        <h3>Reichweite</h3>
        <div class="flex">
            <span class="text_c radio_container">
                <input type="radio" class="symbol" id="newTerminal" name="newItem" value="Terminals" checked> 
                <label for="newTerminal" close="radioLabel">Terminals</label>
                <input type="radio" class="symbol" id="newTool" name="newItem" value="Werkzeug"> 
                <label for="newTool" close="radioLabel">Werkzeug</label>
            </span>
    </div>
    </div>
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogDescMod.html"}}
</div>