<div>
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogName.html"}}
    <div class="grid col2">
        {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogMkSize.html"}}
    </div>
    <div>
        <select name="itemType" id="itemTypeSelect">
            <option value="Terminals"><i class="fas fa-server"></i> Terminal</option>
            <option value="Werkzeug"><i class="fas fa-toolbox"></i> Werkzeug</option>
        </select>
    </div>
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogDescMod.html"}}
</div>