<div>
    <div class="flex verticalalign">
    <img src="systems/darkspace/icons/itemDefault/itemIcon_Artifizierung.svg" width="50">
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogName.html"}}
    </div>
    <div class="flex evenly">
        {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogMkSize.html"}}
    </div>
    <hr>
    <select class="container_center" name="skillRef">
            {{#each skillList}}
            <option value="{{this}}" type="text">{{this}}</option>
            {{/each}}
    </select>
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogDescMod.html"}} 
</div>