<hr>
<div class="grid col2">
    <h3>Schaden</h3>
    <h3>Typ</h3>
    <span class="text_c">
        
        <select name="newDamageType" class="container_center">
            <option value="B" type="text">B</option>
            <option value="B(e)" type="text">B(e)</option>
            <option value="V" type="text">V</option>
            <option value="V(e)" type="text">V(e)</option>
        </select>
    </span>

    <span class="text_c">

        
        <input type="checkbox" class="symbol" id="newRanged" name="newRange" checked>
        <label for="newRanged"></label>

    </span>
</div>