<hr>
<div >
        <div class="grid col4">
            <div class="flex column">
                <label>Komfort</label>
                <input type="number" class="value_box" name="newKomfort" value="0">
            </div>
            <div class="flex column">
                <label>Ressoucen</label>
                <input type="number" class="value_box" name="newRess" value="0">
            </div>
            <div class="flex column">
                <label>Verbrechen</label>
                <input type="number" class="value_box" name="newVerbrechen" value="0">
            </div>
            <div class="flex column">
                <label>Verschmutzung</label>
                <input type="number" class="value_box" name="newVerschmutzung" value="0">
            </div>
        </div>
    </div>