<hr>
<div class="flex flex-evenly">
    <span class="text_c">
        <p>Schaden</p>
        <select name="newDamageType" class="container_center">
            <option value="B" type="text">B</option>
            <option value="B(e)" type="text">B(e)</option>
            <option value="V" type="text">V</option>
            <option value="V(e)" type="text">V(e)</option>
        </select>
    </span>
    <span class="text_c">
        <p>Reichweite</p>
        <input class="" name="newRange" value="0-10/20/100" type="text">
    </span>
</div>