<hr>
<div>
        <h3>Eigenschaften</h3>
        <div class="grid col5 gridcenter">
            <div class="flex column">
                <label for="propComputer">Computer</label>
                <input type="checkbox" id="propComputer" name="propComputer">
            </div>
            <div class="flex column">
                <label for="propEnergie">Energie</label>
                <input type="checkbox" id="propEnergie" name="propEnergie">
            </div>
            <div class="flex column">
                <label for="propLeistung">Leistung</label>
                <input type="checkbox" id="propLeistung" name="propLeistung">
            </div>
            <div class="flex column">
                <label for="propSensoren">Sensoren</label>
                <input type="checkbox" id="propSensoren" name="propSensoren">
            </div>
            <div class="flex column">
                <label for="propKybernetik">Kybernetik</label>
                <input type="checkbox" id="propKybernetik" name="propKybernetik">
            </div>
        </div>
    </div>