<!-- DICE-MSG.HTML -->

<div class="flexDice">
  <span class="{{#if disadv}}unEvalDice{{else}}evalDice{{/if}}"
    >{{evalDiceA}}</span
  >
  <span class="evalDice">{{evalDiceB}}</span>

  <span
    class="{{#unless disadv}}unEvalDice{{else}}evalDice {{/unless}} {{#unless disadv}}{{#if msg}}kritDice{{/if}}{{/unless}}"
    >{{evalDiceC}}</span
  >
  <span class="{{#if disadv}}{{#if msg}} kritDice{{/if}}{{/if}} unEvalDice"
    >{{evalDiceD}}</span
  >

  {{#each unEvalDice}}
  <span class="unEvalDice">{{this}}</span>
  {{/each}}

  <span>( + {{this.skillValue}})</span>
</div>

<hr />
<div class="flexResult">
  {{#if disadv}}{{this.total_BC}}{{else}}{{this.total_AB}}{{/if}}
</div>

<ul class="meritbox">
  {{#each merits}}
  <li class="inline_block pill padding">
    <div class="item" data-item-id="{{this._id}}">
      <p class="Eigenschaftname"><i class="fas fa-dna"></i> {{name}}</p>
      <div style="max-width: 267px">{{{this.data.data.description}}}</div>
    </div>
  </li>
  {{/each}} {{#each handicaps}}
  <li class="inline_block pill padding">
    <div class="item" data-item-id="{{this._id}}">
      <p class="Eigenschaftname handicap">
        <i class="fas fa-dna"></i> {{name}}
        <div style="max-width: 267px">{{{this.data.data.description}}}</div>
      </p>
    </div>
  </li>
  {{/each}} {{#each cybernetics}}
  <li class="inline_block pill padding">
    <div class="item" data-item-id="{{this._id}}">
      <p class="Eigenschaftname artifizierung">
        <i class="fas fa-user-cog"></i> {{name}}
        <span><i class="fas fa-caret-right"></i> {{data.data.useAktion}}</span>
        <div style="max-width: 267px">{{{this.data.data.description}}}</div>
      </p>
    </div>
  </li>
  {{/each}}
</ul>
