<div class="grid col2">
    <span>Eigenschaft:</span>
    <select name="propTemplate">
        {{#each templates as |entry key|}}
        <option value="{{prop}}">{{prop}}{{#if handicap}} (Handicap){{/if}}</option>
        {{/each}}

        {{#if itemProp}}
        {{#each templatesTech as |entry key|}}
        <option value="{{prop}}">Tech: {{prop}}{{#if handicap}} (Handicap){{/if}}</option>
        {{/each}}
        {{/if}}

        {{#if combatProp}}
        {{#each templatesCombat as |entry key|}}
        <option value="{{prop}}">Kampf: {{prop}}{{#if handicap}} (Handicap){{/if}}</option>
        {{/each}}
        {{/if}}
    </select>
    
    {{#if actorType}}
    <span>Fertigkeit</span>
    <select name="propTemplateSkill">
        {{#with (lookup config.statLists actorType)}}
        {{#each skillList}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
        {{/with}}
        
    </select>
    {{/if}}
</div>
