<div>
    <select name="propTemplate">
        {{#each templates}}
        <option value="{{@key}}">{{prop}}{{#if handicap}} (Handicap){{/if}}</option>
        
        {{/each}}
        {{#if itemProp}}
        {{#each templatesTech}}
        <option value="{{@key}}">Tech: {{prop}}{{#if handicap}} (Handicap){{/if}}</option></option>
        {{/each}}
        {{/if}}
        {{#if combatProp}}
        {{#each templatesCombat}}
        <option value="{{@key}}">Kampf: {{prop}}{{#if handicap}} (Handicap){{/if}}</option></option>
        {{/each}}
        {{/if}}
    </select>
    
    {{#if skillListType}}
    <select name="propTemplateSkill">
        {{#each (lookup config skillListType)}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    {{/if}}
    {{#if itemProp}}
    <input type="text" name="propAction">
    {{/if}}
</div>
