<div>
    <h3>{{name}}</h3>
    <p class="anmerkung text_c">{{this.terms.[0].number}}W / {{this.data.fullItemData.data.attackWith}} +{{this.terms.[2].number}}</p>
    <hr>
    {{> "systems/darkspace/templates/dice/dice-sub-partials/dice-msg.html"}}
    <hr>
    <div class="grid col2 gridcenter">
        <span>Schaden</span>
        <span>Reichweite</span>
        <span class="chatStats">{{this.data.fullItemData.data.dmg}}{{this.data.fullItemData.data.dmgtype}}</span>
        <span class="chatStats">{{this.data.fullItemData.data.range}}</span>
    </div>
</div>