<div>
    <h3>{{name}}</h3>
    <p class="anmerkung text_c">{{this.terms.[0].number}}W / {{this.data.fullItemData.data.attackWith}} +{{this.terms.[2].number}}</p>
    <hr>
    <div class="flexDice">
        {{#each this.sortetDice}}
        <span>{{this}}</span>
        {{/each}}
        <span>( + {{this.terms.[2].number}})</span>
    </div>
    <hr>    
        <div class="flexResult">{{this._total}}</div>
        {{#if this.msg}}
        <p class="text_c">{{this.msg}}</p>
        {{/if}}
    <hr>
    <div class="grid col2 gridcenter">
        <span>Schaden</span>
        <span>Reichweite</span>
        <span class="chatStats">{{this.data.fullItemData.data.damage}}{{this.data.fullItemData.data.dmgtype}}</span>
        <span class="chatStats">{{this.data.fullItemData.data.range}}</span>
    </div>
</div>