<div>
    <img src="{{this.itemImg}}" style="display: block; margin: 0 auto;" width="50px" height=auto>
    <h3>{{this.itemName}}</h3>
    <div class="container_center">{{this.itemType}} {{#if this.type}}({{this.type}}){{/if}}</div>
    <hr>
    <div class="grid col2">
        {{#if this.itemSize}} <p class="container_center">GM {{this.itemSize}}</p> {{/if}}
        {{#if this.itemMk}} <p class="container_center">MK {{this.itemMk}}</p> {{/if}}
        {{#if this.comfort}} <p class="container_center">Komfort {{this.comfort}}W</p> {{/if}}
        {{#if this.ressourcen}} <p class="container_center">Ressourcen {{this.ressourcen}}W</p> {{/if}}
        {{#if this.crime}} <p class="container_center">Kriminalität {{this.crime}}W</p> {{/if}}
        {{#if this.polution}} <p class="container_center">Verschmutzung {{this.polution}}W</p> {{/if}}
        
        {{#if this.attribut}} <p class="container_center">{{this.attribut}}</p> {{/if}}
        {{#if this.skill}} <p class="container_center">{{this.skill}} {{this.requirement}}</p> {{/if}}
        
    </div>
    <hr>
    <div>
        {{{this.itemDesc}}}
    </div>
    {{#if this.itemModules}}
    <hr>
    <div class="anmerkung">
        {{{this.itemModules}}}
    </div>
    {{/if}}
</div>