<div>
    {{> "systems/darkspace/templates/dice/dialog-sub-partials/dialogName.html"}}
    <p>Voraussetzung</p>
    <div class="grid col2-31">
        <span class="text_c">
            <input class="" name="newReqVal" value="Fertigkeit" type="text">
        </span>
        <span>
            <input class="value_box" name="newSkillReq" value="1" type="number">
        </span>
    </div>

    
    <div>
        <span>Beschreibung</span>
        <textarea name="newDesc"></textarea>
    </div>
</div>