<div>
  <select name="system.useWith.{{slot}}.skill" class="container_center">
    <option value="Automatismus" type="text">Automatismus</option>

    <!--Charaktere-->
    {{#select this.skill}} {{#ifCond context.item.parent.type "==="
    "Charakter"}}{{#each context.config.skillList}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--NPCs-->
    {{#ifCond context.item.parent.type "===" "Nebencharakter"}} {{#each
    context.config.skillListNpc}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--Fahrzeuge-->
    {{#ifCond context.item.parent.type "===" "DrohneFahrzeug"}} {{#each
    context.config.skillListVehicle}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--KIs-->
    {{#ifCond context.item.parent.type "===" "KI"}} {{#each config.attrListAi}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}
  </select>
  {{/select}}
</div>
