{{#if this.item.parent.type}}
<div>
  <select name="system.useWith" class="container_center">
    <option value="Automatismus" type="text">Automatismus</option>

    <!--Charaktere-->
    {{#select system.useWith}} {{#ifCond this.item.parent.type "==="
    "Charakter"}} {{#each config.skillList}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--NPCs-->
    {{#ifCond this.item.parent.type "===" "Nebencharakter"}} {{#each
    config.skillListNpc}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--Fahrzeuge-->
    {{#ifCond this.item.parent.type "===" "DrohneFahrzeug"}} {{#each
    config.skillListVehicle}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}

    <!--KIs-->
    {{#ifCond this.item.parent.type "===" "KI"}} {{#each config.attrListAi}}
    <option value="{{this}}" type="text">{{this}}</option>
    {{/each}} {{/ifCond}}
  </select>
  {{/select}}
</div>
{{/if}}
