<!-- DICE-MSG.HTML -->

<div class="flexDice">
  <span class="{{#if disadv}}unEvalDice{{else}}evalDice{{/if}}"
    >{{evalDiceA}}</span
  >
  <span class="evalDice">{{evalDiceB}}</span>

  <span
    class="{{#unless disadv}}unEvalDice{{else}}evalDice {{/unless}} {{#unless disadv}}{{#if crit}}kritDice{{/if}}{{/unless}}"
    >{{evalDiceC}}</span
  >
  <span class="{{#if disadv}}{{#if crit}}kritDice{{/if}}{{/if}} unEvalDice"
    >{{evalDiceD}}</span
  >

  {{#each unEvalDice}}
  <span class="unEvalDice">{{this}}</span>
  {{/each}}

  <span>( + {{this.skillValue}})</span>
</div>

<hr />
<div class="flexResult" {{#if crit}} style="background: linear-gradient( 
  90deg, transparent 0%, #00ff7e 50%, transparent 100% );" {{/if}}
  {{#if fumble}} style="color: var(--effect); background: linear-gradient(90deg, transparent 0%, red 50%, transparent 100%);" {{/if}}>
  {{#if disadv}}
  
  
  {{this.total_BC}}{{else}}{{this.total_AB}}

  
  
  {{/if}}
</div>


<ul class="meritbox">
  
  {{#each merits}}
  
  <li class="inline_block pill padding" style="width: 100%;">
    <div class="item" data-itemid="{{this._id}}">
      <p class="Eigenschaftname"><i class="fa-solid fa-dna"></i> {{prop}}</p><hr>
      <div style="max-width: 267px">{{{desc}}}</div>
    </div>
  </li>
  {{/each}} {{#each handicaps}}
  <li class="inline_block pill padding" style="width: 100%;">
    <div class="item" data-itemid="{{this._id}}">
      <p class="Eigenschaftname handicap">
        <i class="fa-solid fa-dna"></i> {{prop}}
      </p><hr>
      <div style="max-width: 267px">{{{desc}}}</div>
    </div>
  </li>

  {{/each}}{{#each cybernetics}}
  <li class="inline_block pill padding" style="width: 100%;">
    <div class="item" data-itemid="{{this._id}}">
      <p class="Eigenschaftname artifizierung">
        <i class="fa-solid fa-user-cog"></i> 
        {{name}}
        <span>
          <i class="fa-solid fa-caret-right"></i>
          {{prop}} ({{skill}} <i class="fa-solid fa-caret-right"></i> {{action}})
        </span>
      </p>
      <hr>
      <div style="max-width: 267px">{{{desc}}}</div>
    </div>
  </li>
  {{/each}}
</ul>


