<div>
  <h2>Waffen</h2>

  <ul class="item-list">
    {{#each Waffe}}
    <li class="item" data-item-id="{{this._id}}">
      <div>
        <div class="grid col-weapons">
          <span>
            <img
              class="d10-symbol rollItem"
              data-rolltype="combat"
              data-itemid="{{this._id}}"
              data-modroll="false"
              src="systems/darkspace/icons/d10.svg"
            />
            <img
              class="d10-symbol rollItem"
              data-rolltype="combat"
              data-itemid="{{this._id}}"
              data-modroll="true"
              src="systems/darkspace/icons/d10edit.svg"
            />
          </span>

          <span class="itemEdit pointer">{{this.name}}</span>

          <span class="derivedValue"
            ><i class="fas fa-bolt"></i> {{this.data.dmg}}</span
          >
          <span class="derivedValue"
            ><i class="fas fa-arrows-alt-h"></i> {{this.data.range}}</span
          >
          <span class="text_c"
            ><i class="fas fa-expand-arrows-alt"></i> {{this.data.size}}<i
              class="fas fa-microchip"
            ></i
            >{{this.data.mk}}</span
          >
          <div class="cell_r">
            {{>
            "systems/darkspace/templates/partials/sub-partials/items-editDeleteEquip.html"}}
          </div>
        </div>
      </div>
    </li>
    {{>"systems/darkspace/templates/partials/sub-partials/sub-stat-collapsible.html"}}
    {{/each}}
  </ul>
</div>
