<div>
    <h2 class="flex flex-between"> Panzerung <i class="fas fa-plus createItem" data-type="Panzerung"></i> </h2>
        
    <ul>
        
        {{#each Panzerung}}
        <li class="item" data-item-id="{{this._id}}">
            <div class="flex flex-between">
                <h3>
                    <a class="rollItem flex" data-rolltype="protection" data-structure="{{this.data.armor}}" data-protection="{{this.data.protection}}">
                        <img class="d10-symbol" src="systems/darkspace/icons/d10.svg">
                        {{this.name}}
                    </a>
                </h3>
                <div>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            
            <div class="flex flex-between">
                <span class="derivedValue"><i class="fas fa-shield-alt"></i> {{this.data.armor}}W + {{this.data.protection}}</span>
                <span class="text_c">GM {{this.data.size}}</span>
                <span class="text_c">MK {{this.data.mk}}</span>
                <div class="text_c">
                    <p>Körperzonen</p>
                    <span>{{this.data.bodyPart}}</span><!--Zonen-->
                </div>
            </div>
            <hr>
            <div class="text_c">
                {{>"systems/darkspace/templates/partials/sub-partials/misc-collapsibleModuls.html"}}
            </div>
            <hr>
            <div class="grid col3">
                
                
            </div>
        </li>
        {{/each}}
    </ul>
</div>