<div>
    <ul class="item-list">
        <li class="grid col2">
            {{> "systems/darkspace/templates/partials/sub-partials/combat-protection.html"}}
        </li>
        {{#unless data.data.unarmedHide}}
        <li class="grid col2-21">
            <span>
                <img class="d10-symbol unarmedCombat" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                <img class="d10-symbol unarmedCombat" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                {{data.data.unarmedName}}
            </span>
            <span class="iconbox cell_r"><i class="fas fa-bolt"></i>{{data.data.unarmedDmg}}</span>
        </li>
        {{/unless}}
        {{#each Waffe}}
        {{#if data.equipped}}
        <li class="item grid col2" data-item-id="{{this._id}}">
            <span>
                <img class="d10-symbol rollItem" data-rolltype="combat" data-itemType="Waffe" data-skill="{{data.attackWith}}" data-label="{{fertname}}" data-dmg="{{this.data.dmg}}" data-range="{{this.data.range}}" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                <img class="d10-symbol rollItem" data-rolltype="combat" data-itemType="Waffe" data-skill="{{data.attackWith}}" data-label="{{fertname}}" data-dmg="{{this.data.dmg}}" data-range="{{this.data.range}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                {{this.name}}
            </span>
            <span class="cell_r">
                <span class="iconbox">
                    <i class="fas fa-arrows-alt-h"></i>{{this.data.range}}
                </span>
                <span class="iconbox">
                    <i class="fas fa-bolt"></i>{{this.data.dmg}}
                </span>
            </span>
            
            
        </li>
        {{/if}}
        {{/each}}
        
    </ul>
</div>