<div>
    <ul class="item-list">
        
        <li class="grid col-weapons">
            <div>
                <img class="directRoll d10-symbol" data-attr="Struktur" data-rollname="Schutz" data-dice="{{this.data.data.Struktur}}" data-bonus="{{this.data.data.Schutz}}" src="systems/darkspace/icons/d10.svg">
                <img class="directRoll d10-symbol" data-attr="Struktur" data-rollname="Schutz" data-dice="{{this.data.data.Struktur}}" data-bonus="{{this.data.data.Schutz}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                <!-- <img class="directRoll d10-symbol disadv" data-attr="Struktur" data-rollname="Schutz" data-dice="{{this.data.data.Struktur}}" data-bonus="{{this.data.data.Schutz}}" src="systems/darkspace/icons/d10disadv.svg"> -->
            </div>
            <span>Schutzprobe</span>
            <span class="derivedValue"><i class="fas fa-shield-alt"></i> {{this.data.data.Struktur}}W + {{this.data.data.Schutz}}</span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </li>
        
        

        {{#unless data.data.unarmedHide}}
        <li class="item">
            <div>
                <div class="grid col-weapons">
                    <span>
                        <img class="d10-symbol unarmedCombat" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                        <img class="d10-symbol unarmedCombat" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                    </span>
                    <span>{{data.data.unarmedName}}</span>
                    <span class="derivedValue"><i class="fas fa-bolt"></i> {{data.data.unarmedDmg}}</span>
                <span class="derivedValue"><i class="fas fa-arrows-alt-h"></i> Nahkampf</span>
                </div>
            </div>
        </li>
        {{/unless}}

        {{#each Waffe}}
        {{#if data.equipped}}
        
        <li class="item" data-item-id="{{this._id}}">
            <div>
                <div class="grid col-weapons">
                    <span>
                        <img class="d10-symbol rollItem" data-rolltype="combat" data-itemType="Waffe" data-skill="{{data.attackWith}}" data-label="{{fertname}}" data-dmg="{{this.data.dmg}}" data-range="{{this.data.range}}" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                        <img class="d10-symbol rollItem" data-rolltype="combat" data-itemType="Waffe" data-skill="{{data.attackWith}}" data-label="{{fertname}}" data-dmg="{{this.data.dmg}}" data-range="{{this.data.range}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                    </span>
                        
                    <span>{{this.name}}</span>
                    
                    <span class="derivedValue"><i class="fas fa-bolt"></i> {{this.data.dmg}}{{#ifEquals this.data.range "Nahkampf"}}+{{../this.actor.data.data.weaponDmgBonus}}{{/ifEquals}}</span>
                    <span class="derivedValue"><i class="fas fa-arrows-alt-h"></i> {{this.data.range}}</span>
                    <span><i class="fas fa-expand-arrows-alt"></i> {{this.data.size}}</span>
                    <span><i class="fas fa-microchip"></i>{{this.data.mk}}</span>
                    <div>

                        <label for="equippedGear{{this._id}}">
                            {{#if data.equipped}}
                            <i class="fas fa-fist-raised"></i>
                            {{/if}}
                            {{#unless data.equipped}}
                            <i class="fas fa-hand-paper"></i>
                            {{/unless}}

                        </i></label>
                        <input type="checkbox" invisible {{checked data.equipped}} class="item-quick-edit" id="equippedGear{{this._id}}" data-target="data.equipped">


                        <a class="item-control itemEdit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control itemDelete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </li>
        {{/if}}
        {{/each}}
        {{#each Artifizierung}}
        {{#if this.data.weapon}}
        <li class="item" data-item-id="{{this._id}}">
            <div>
                <div class="grid col-weapons">
                    <span>
                        <img class="d10-symbol rollItem" data-rolltype="combat" data-itemType="Waffe" data-skill="{{data.attackWith}}" data-label="{{fertname}}" data-dmg="{{this.data.dmg}}" data-range="{{this.data.range}}" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                        <img class="d10-symbol rollItem" data-rolltype="combat" data-itemType="Waffe" data-skill="{{data.attackWith}}" data-label="{{fertname}}" data-dmg="{{this.data.dmg}}" data-range="{{this.data.range}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                    </span>
                        
                    <span><i class="fas fa-user-cog"></i> {{this.name}}</span>
                    
                    <span class="derivedValue"><i class="fas fa-bolt"></i> {{this.data.dmg}}</span>
                    <span class="derivedValue"><i class="fas fa-arrows-alt-h"></i> {{this.data.range}}</span>
                    <span><i class="fas fa-expand-arrows-alt"></i> {{this.data.size}}</span>
                    <span><i class="fas fa-microchip"></i>{{this.data.mk}}</span>
                    <div>


                        <a class="item-control itemEdit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control itemDelete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </li>
        {{/if}}
        {{/each}}
        
    </ul>
</div>