<div>
    <h2>
        <span>Gegenstände</span>
        
    </h2>
    <div class="grid col4-4111">
        <div>
            <i class="fas fa-plus createItem" data-type="Gegenstand"></i>
            <span>Bezeichnung</span>
        </div>
        <span>GM</span>
        <span>MK</span>
        <span></span>
    </div>
    <ul>
        {{#each Gegenstand}}
        <li class="item grid col4-4111" data-item-id="{{this._id}}">
            <span class="itemname itemToChat">{{this.name}}</span>
            <span>{{this.data.size}}</span>
            <span>{{this.data.mk}}</span>
            <span>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </span>
        </li>
        {{/each}}
    </ul>
</div>