<section>
    <h2  class="flex between">
        <span>Unterbringung</span>
        <i class="fas fa-plus createItem" data-type="Unterbringung"></i>
    </h2>
    <ul class="item-list">
        {{#each Unterbringung}}
            <li class="item" data-item-id="{{this.id}}">
                <div class="flex between ">
                    <img class="d10-symbol rollItem" data-rolltype="quarter" data-attr="{{this.data.comfort}}" data-skill="{{this.data.mk}}" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                    <img class="d10-symbol rollItem" data-rolltype="quarter" data-attr="{{this.data.comfort}}" data-skill="{{this.data.mk}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                    <span class="itemname itemToChat" draggable="true">{{this.name}}</span>
                    
                    <span class="anmerkung">Komfort {{this.data.comfort}}W+{{this.data.mk}}</span>
                    
                    <span class="anmerkung">MK {{this.data.mk}}</span>
                    <span class="anmerkung">GM {{this.data.size}}</span>

                        <div style="display: inline-block;">
                            
                            <div>
                                <label for="equippedGear{{this.id}}">
                                    {{#if data.equipped}}
                                    <i class="fas fa-fist-raised"></i>
                                    {{/if}}

                                    {{#unless data.equipped}}
                                    <i class="fas fa-hand-paper"></i>
                                    {{/unless}}
                                </label>
                                <input type="checkbox" invisible {{checked data.equipped}} class="item-quick-edit" id="equippedGear{{this.id}}" data-target="data.equipped">
                                <a class="item-control itemEdit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control itemDelete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>

                        </div>

                
                
                    
            </li>
            {{>"systems/darkspace/templates/partials/sub-partials/sub-stat-collapsible.html"}}
        {{/each}}
    </ul>
</section>