
 <!-- Durchschlag -->
<div class="borderbox round text_c">
    <i class="fas fa-bolt cell_c "></i>
    <span class="derivedValue"></i>{{data.data.dmg}}</span>
</div>

<!-- Reichweite -->
<div class="borderbox round text_c">
    {{#ifCond data.type "===" "Schusswaffe"}}
    <i class="fas fa-arrows-alt-h cell_c "></i> <span>{{data.data.range}}</span>
    {{/ifCond}}
    {{#ifCond data.type "===" "Nahkampfwaffe"}}
    <i class="fas fa-fist-raised "></i>
    {{/ifCond}}
    {{#ifCond data.type "===" "Terminals"}}
    <i class="fas fa-signal"></i> <span>{{data.data.signal}}</span>
    {{/ifCond}}
</div>

<!-- AE Kosten -->
<div class="borderbox round text_c">
    <i class="fas fa-history cell_c "></i>
    <span class="derivedValue">{{data.data.aeCost}} AE</span>   
</div>
