
 <!-- Durchschlag -->
<div class="marginx">
    <i class="fas fa-bolt cell_c "></i>
    <span class="derivedValue"></i>{{data.data.dmg}}</span>
</div>

<!-- Reichweite -->
<div class="marginx">
    <div>
        <input type="checkbox" class="symbol" id="ranged" {{checked data.data.ranged}} name="data.ranged">
        <label style="text-align: left; margin: 0; padding: 0" for="ranged" class="container_center">
            <span>
            {{#if data.data.ranged}}
            <i class="fas fa-arrows-alt-h cell_c "></i>
            {{/if}}
            {{#unless data.data.ranged}}
            <i class="fas fa-fist-raised "></i>
            {{/unless}}
            
            </span><span>{{data.data.range}}</span>
        </label>
    </div>

</div>

<!-- AE Kosten -->
<div class="marginx">
    <i class="fas fa-history cell_c "></i>
    <span class="derivedValue">{{data.data.aeCost}} AE</span>   
</div>
