<div>
    <h2 class="flex between">
        <span>Gegenstände</span>
        <i class="fas fa-plus createItem" data-type="Gegenstand"></i>
    </h2>
    <ul class="item-list">
        {{#each Gegenstand}}
        <li class="item" data-item-id="{{this._id}}">
            <div class="flex between">
                <span class="itemname itemToChat" draggable="true">{{this.name}}</span>
                <span>GM {{this.data.size}}</span>
                <span>MK {{this.data.mk}}</span>
                <span>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </span>
            </div>
        </li>
        {{>"systems/darkspace/templates/partials/sub-partials/sub-stat-collapsible.html"}}
        {{/each}}
    </ul>
</div>