<section>
    <div>
    <h2>Erholung</h2>
        <h3 class="flex between">
            <span>Schwierigkeitsgrad für Komfort-Proben</span>
            <span>{{data.data.comfortCr}}</span>
        </h3>
        <hr>
        <h3 class="flex between {{#if data.data.needKeep}}red{{/if}}">
            <span>Unterhalt</span>
            <span>{{data.data.keepOfItems}}</span>
        </h3>
        <h3 class="flex between {{#if data.data.needKeep}}red{{/if}}">
            <span>Wohlstand <span class="anmerkung">(= Ressourcen x 2)</span></span>
            <span>{{data.data.wealth}}</span>
        </h3>
    </div>
    
</section>