<div class="cell_d">
    <span>
        <img class="d10-symbol customRoll"  src="systems/darkspace/icons/d10.svg">
        <img class="d10-symbol customRoll disadv"  src="systems/darkspace/icons/d10disadv.svg">
        
        <span>Freier Wurf</span>
        
        <input type="number" value="{{data.data.customroll.dice}}" name="data.customroll.dice" data-type="Number">W10 + 
        <input type="number" value="{{data.data.customroll.bonus}}" name="data.customroll.bonus" data-type="Number">
        
    </span>
</div>