<div>
  <div class="health-monitor">

    <!-- sHealth -->


    <ul class="flex start">

      {{#ifCond (eq this.data.type "Charakter") "||" (eq this.data.type "Nebencharakter")}}<li>
        <i class="fas fa-heartbeat health-icon"></i>
      </li>{{/ifCond}}

      {{#each data.data.bodyConditions as |value name|}}

      <li class="flex borderbox round">
        <input type="checkbox" class="noDisplay" {{checked value}} name="data.bodyConditions.{{name}}" value="{{value}}"
          id="{{../actor.id}}_bodyConditions_{{name}}" />

        <label class="flex center borderbox" for="{{../actor.id}}_bodyConditions_{{name}}">
          <div class="tooltip">
            <i class="{{#with (lookup ../data.data.config.bodyConditions name)}}{{this.fontsymbol}}{{/with}}"></i>

            {{lookup ../data.data.hitArray @index}}
            <span class="tooltiptext top">{{#with (lookup ../data.data.config.bodyConditions
              name)}}{{this.name}}{{/with}}</span>
          </div>
        </label>
      </li>
      {{/each}}

    </ul>

    <!-- Tech Health -->

    <ul class="flex start">

      {{#ifCond this.data.type "===" "DrohneFahrzeug"}}<li>
        <i class="fas fa-cogs health-icon"></i>
      </li>{{/ifCond}}
      {{#each data.data.techConditions as |value name|}}


      <li class="flex borderbox round">
        <input type="checkbox" class="noDisplay" {{checked value}} name="data.techConditions.{{name}}" value="{{value}}"
          id="{{../actor.id}}_techConditions{{name}}" />

        <label class="flex center borderbox" for="{{../actor.id}}_techConditions{{name}}">
          <div class="tooltip">
            <i class="{{#with (lookup ../data.data.config.techConditions name)}}{{this.fontsymbol}}{{/with}}"></i>

            {{lookup ../data.data.hitArrayTech @index}}
            <span class="tooltiptext top">{{#with (lookup ../data.data.config.techConditions
              name)}}{{this.name}}{{/with}}</span>
          </div>
        </label>
      </li>
      {{/each}}

    </ul>

    <!-- Cortex Health -->

    <ul class="flex start">
      <li>
        <i class="fas fa-memory health-icon"></i>
      </li>
      {{#each data.data.cortexConditions as |value name|}}


      <li class="flex borderbox round">
        <input type="checkbox" class="noDisplay" {{checked value}} name="data.cortexConditions.{{name}}"
          value="{{value}}" id="{{../actor.id}}_cortexConditions{{name}}" />

        <label class="flex center borderbox" for="{{../actor.id}}_cortexConditions{{name}}">
          <div class="tooltip">
            <i class="{{#with (lookup ../data.data.config.cortexConditions name)}}{{this.fontsymbol}}{{/with}}"></i>

            {{lookup ../data.data.hitArrayCortex @index}}
            <span class="tooltiptext top">{{#with (lookup ../data.data.config.cortexConditions
              name)}}{{this.name}}{{/with}}</span>
          </div>
        </label>
      </li>
      {{/each}}
    </ul>
  </div>
  <hr />
  <!-- AKTIONEN -->
  <div class="grid col2">
    <!-- Aufrappeln -->
    <div>
      <h3><i class="fas fa-running"></i> Aufrappeln</h3>
      <div>

        {{#ifCond this.data.type "!=" "KI"}}
        <!-- Aufrappeln FIT -->
        <div class="borderbox round text_c rollSkill" data-rollname="Aufrappeln" data-skill={{#ifCond
          this.data.type "===" "Charakter" }}"Fitness"{{/ifCond}} {{#ifCond this.data.type "===" "Nebencharakter"
          }}"Kraft"{{/ifCond}} {{#ifCond this.data.type "===" "DrohneFahrzeug" }}"Verteilung"{{/ifCond}}>

          <div>{{#ifCond this.data.type "===" "Charakter"}}FIT{{/ifCond}} {{#ifCond
            this.data.type "===" "Nebencharakter"}}KRA{{/ifCond}} {{#ifCond
            this.data.type "===" "DrohneFahrzeug"}}VER{{/ifCond}}</div>
          <div class="anmerkung">
            {{#with this.data.data.charattribut}}
            {{#ifCond ../this.data.type "==="
            "Charakter"}}{{Konstitution.attribut}}W+{{Konstitution.skill.Fitness}}{{/ifCond}}
            {{#ifCond ../this.data.type "==="
            "Nebencharakter"}}{{Körper.attribut}}W+{{Körper.skill.Kraft}}{{/ifCond}}
            {{#ifCond ../this.data.type "==="
            "DrohneFahrzeug"}}{{Energie.attribut}}W+{{Energie.skill.Verteilung}}{{/ifCond}}
            {{/with}}
          </div>
        </div>

        {{/ifCond}}

        <!-- Aufrappeln SYN -->
        {{#ifCond this.data.type "!=" "DrohneFahrzeug"}}
        <div class="borderbox round text_c rollSkill" data-skill="Synthese" data-rollname="Aufrappeln"
          data-modroll="false">
          <div>SYN</div>
          <div class="anmerkung">
            {{#with this.data.data.charattribut}}
            {{Kybernese.attribut}}W+{{Kybernese.skill.Synthese}}
            {{/with}}
          </div>
        </div>

        <!-- Aufrappeln WIL -->
        {{#ifCond this.data.type "===" "Charakter"}}
        <div class="borderbox round text_c rollSkill" data-skill="Willenskraft" 
          data-rollname="Aufrappeln">
          <div>
            WIL
          </div>

          <div class="anmerkung">
            {{#with this.data.data.charattribut}}
            {{Konzentration.attribut}}W+{{Konzentration.skill.Willenskraft}}
            {{/with}}
          </div>
        </div>
        {{/ifCond}}
        {{/ifCond}}
      </div>
    </div>
    <!-- Schutz -->
    <div>
      <h3><i class="fas fa-shield-alt"></i> Schutzprobe</h3>

      {{#ifCond this.data.type "===" "DrohneFahrzeug"}}
      <!-- Zu Größe W + Größe umwandeln -->
      <div>
        <div class="borderbox round text_c rollSkill" data-skill="Bots" data-rollname="Schutzprobe">
          <div>
            <div>BOT</div>
            <div class="anmerkung block">
              {{#with this.data.data.charattribut}}
              {{KI.attribut}}W +
              {{KI.skill.Bots}}
              {{/with}}
            </div>
          </div>
        </div>
      </div>
      {{/ifCond}}

      {{#ifCond this.data.type "!=" "DrohneFahrzeug"}}
      <div>

        {{#ifCond this.data.type "!=" "KI"}}
        <!-- Motorik Schutz -->
        <div class="borderbox round text_c rollSkill" data-skill={{#ifCond this.data.type "===" "Charakter"
          }}"Motorik"{{/ifCond}} {{#ifCond this.data.type "===" "Nebencharakter" }}"Beweglichkeit"{{/ifCond}}
          data-rollname="Schutzprobe">
          <div>
            <div>{{#ifCond this.data.type "===" "Charakter"}}MOT{{/ifCond}} {{#ifCond
              this.data.type "===" "Nebencharakter"}}BEW{{/ifCond}}</div>
            <div class="anmerkung">
              {{#with this.data.data.charattribut}}
              {{#ifCond ../this.data.type "==="
              "Charakter"}}{{Geschick.attribut}}W+{{Geschick.skill.Motorik}}{{/ifCond}}
              {{#ifCond ../this.data.type "==="
              "Nebencharakter"}}{{Körper.attribut}}W+{{Körper.skill.Beweglichkeit}}{{/ifCond}}
              {{/with}}
            </div>
          </div>
        </div>
        <!-- Fitness Schutz -->
        <div class="borderbox round text_c rollSkill" data-skill={{#ifCond this.data.type "===" "Charakter"
          }}"Fitness"{{/ifCond}} {{#ifCond this.data.type "===" "Nebencharakter" }}"Kraft"{{/ifCond}}
          data-rollname="Schutzprobe">
          <div>
            <div>{{#ifCond this.data.type "===" "Charakter"}}FIT{{/ifCond}} {{#ifCond
              this.data.type "===" "Nebencharakter"}}KRA{{/ifCond}}</div>
            <div class="anmerkung">
              {{#with this.data.data.charattribut}}
              {{#ifCond ../this.data.type "==="
              "Charakter"}}{{Konstitution.attribut}}W+{{Konstitution.skill.Fitness}}{{/ifCond}}
              {{#ifCond ../this.data.type "==="
              "Nebencharakter"}}{{Körper.attribut}}W+{{Körper.skill.Kraft}}{{/ifCond}}
              {{/with}}
            </div>
          </div>
        </div>
        {{/ifCond}}

        <!-- Synthese Schutz -->
        <div class="borderbox round text_c rollSkill" data-skill="Synthese" data-rollname="Schutzprobe">
          <div>

            <div>SYN</div>
            <div class="anmerkung block">
              {{#with this.data.data.charattribut}}
              {{Kybernese.attribut}}W +
              {{Kybernese.skill.Synthese}}
              {{/with}}
            </div>
          </div>
        </div>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>



</div>