<div>
    <h2 class="flex between"><span>Artifizierungen</span><i class="fas fa-plus createItem" data-type="Artifizierung"></i></h2>
    <div class="flex between">
        <span class="attrname">
            <img class="d10-symbol roleSkill" data-rolltype="cybernetic" data-modroll="false" src="systems/darkspace/icons/d10.svg">
            Kybernese
        </span>
        <span>
            <input class="value_box" name="data.miscData.Kybernese.attribut" value="{{data.data.miscData.Kybernese.attribut}}" type="number">
            +{{data.data.miscData.Kybernese.bonus}}
        </span>

    </div>
    <hr>
    
            <section>
                <ul class="item-list">
                {{#each Artifizierung}}
                    <li>
                        <div class="item" data-item-id="{{this._id}}">
                            
                            <div class="grid col2-21">
                                <div>
                                    <div class="talentname flex start">
                                        <img class="d10-symbol rollItem" data-rolltype="cybernetic" data-skill="{{this.data.mk}}" src="systems/darkspace/icons/d10.svg">
                                        
                                        <a class="itemToChat">{{this.name}}</a>
                                    </div>
                                    
                                    <p class="anmerkung">GM {{this.data.size}} | MK {{this.data.mk}} | {{this.data.bodyPart}}</p>
                                </div>
                                <div class="cell_c">
                                    <label class="collapsible" for="collapse-cntr-{{this._id}}"><i class="fas fa-info-circle"></i></label>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                {{/each}}
                </ul>
            </section>
</div>