<div>
    <h2>Artifizierungen</h2>
    <div class="flex flex-between">
        <span class="attrname">Kybernese</span>
        <input class="value_box" name="data.charattribut.Kybernese.attribut" value="{{data.data.charattribut.Kybernese.attribut}}" type="number">
    </div>
    <hr>
    <i class="fas fa-plus createItem" data-type="Artifizierung"></i>
            <section>
                <ul>
                {{#each Artifizierung}}
                    <li>
                        <div class="item" data-item-id="{{this._id}}">
                            
                            <div class="grid col2-21">
                                <div>
                                    <div class="talentname flex flex-start">
                                        <img class="d10-symbol roleable" data-rolltype="cybernetic" data-skill="{{this.data.mk}}" src="systems/darkspace/templates/d10.svg">
                                        <a class="itemToChat">{{this.name}}</a>
                                    </div>
                                    
                                    <p class="anmerkung">{{this.data.bodyPart}}</p>
                                </div>
                                <div class="cell_c">
                                    <label class="collapsible" for="collapse-cntr-{{this._id}}"><i class="fas fa-info-circle"></i></label>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                {{/each}}
                </ul>
            </section>
</div>