<div>
    <h2>Attribute und Fertigkeiten</h2>

    <ul class="grid col3" id="statFeld">

        {{#each data.data.charattribut as |attrobj attrname|}}
        <li class="attrfeld">
            {{#if ../data.data.Bedrohungsstufe}}
            <div class="grid col2-21">
                <div class="container_center">
                    <input type="checkbox" class="checkbox" id="{{attrname}}_prio" data-field="{{attrname}}"
                        name="data.charattribut.{{attrname}}.prio" {{checked this.prio}}>
                    <label for="{{attrname}}_prio">Verstärkt</label>
                </div>
                <div class="container_center">
                    <input type="checkbox" class="checkbox" id="{{attrname}}_deprio" data-field="{{attrname}}"
                        name="data.charattribut.{{attrname}}.dePrio" {{checked this.dePrio}}>
                    <label for="{{attrname}}_deprio">Abgeschwächt</label>
                </div>
            </div>

            {{/if}}

            <!--ATTRIBUTE für Charaktere-->
            <div class="grid col2-21">
                <span class="attrname changeProp" data-fieldtype="editAttr" data-parentAttr="{{attrname}}"><i class="fas fa-cog" ></i> {{attrname}}</span>
                <span class="attrvalue">
                    <input class="value_box" name="data.charattribut.{{attrname}}.attribut" value="{{attrobj.attribut}}"
                        type="number" {{disabled ../data.data.Bedrohungsstufe}}>
                    <span>W</span>
                </span>
            </div>



            <ul class="fertfeld">
                {{#each this.skill as |fertval fertname|}}

                <li class="gridleftcenter">
                    <p>{{fertname}}</p>

                    <div class="skillbox">

                        <input class="value_box" name="data.charattribut.{{attrname}}.skill.{{fertname}}"
                            value="{{this}}" type="number" {{disabled ../../data.data.Bedrohungsstufe}}>
                        <img class="d10-symbol rollSkill" data-rolltype="skill" data-attr="{{attrname}}"
                            data-skill="{{fertname}}" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                        <img class="d10-symbol rollSkill" data-rolltype="skill" data-attr="{{attrname}}"
                            data-skill="{{fertname}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                    </div>
                </li>

                {{/each}}
            </ul>



            <!-- {{#if this.ress.exists}}
            <hr>
            <ul class="fertfeld">
                <li>
                    <span>{{this.ress.ressname}}</span>

                    <div class="span2">
                        <i class="fas fa-caret-left decRess" data-attr="{{attrname}}" data-skill="{{fertname}}"></i>
                        {{#times this.ress.value}}
                        <i class="fas fa-circle ressPoints" data-active="1" data-thisattr="{{attrname}}"></i>
                        {{/times}}

                        {{#times this.ress.remaining}}
                        <i class="far fa-circle ressPoints" data-active="0" data-thisattr="{{attrname}}"></i>
                        {{/times}}
                        <i class="fas fa-caret-right incRess" data-attr="{{attrname}}" data-skill="{{fertname}}"></i>
                    </div>
                </li>

            </ul>
            {{/if}} -->

            
            <ul class="item-list">
                <!--EIGENSCHAFTEN-->
                {{#each ../Eigenschaft}}
                {{#ifEquals data.attribut attrname}}

                {{#unless data.handicap}}
                <li class="inline_block propertyListElement">
                    <div class="item" data-item-id="{{this._id}}">
                        <p class="Eigenschaftname item-control itemEdit {{#if data.handicap}}handicap{{/if}}"><i
                                class="fas fa-dna"></i> {{this.name}}</p>
                    </div>
                </li>
                {{/unless}}
                
                {{/ifEquals}}
                {{/each}}
                <!--HANDICAPS-->
                {{#each ../Eigenschaft}}
                {{#ifEquals data.attribut attrname}}

                {{#if data.handicap}}
                <li class="inline_block propertyListElement">
                    <div class="item" data-item-id="{{this._id}}">
                        <p class="Eigenschaftname item-control itemEdit {{#if data.handicap}}handicap{{/if}}"><i
                                class="fas fa-dna"></i> {{this.name}}</p>
                    </div>
                </li>
                {{/if}}
                
                {{/ifEquals}}
                {{/each}}
                <!--Artifizierungen-->    
                {{#each ../Artifizierung}}
                {{#ifEquals data.attribut attrname}}
                <li class="inline_block propertyListElement">
                    <div class="item" data-item-id="{{this._id}}">
                        <p class="Eigenschaftname item-control itemEdit artifizierung"><i class="fas fa-user-cog"></i>
                            {{this.name}}</p>
                    </div>
                </li>
                {{/ifEquals}}
                {{/each}}
            </ul>

        </li>

        {{/each}}


    </ul>



</div>