<div class="grid col2-12 gridcenter h_gap">
    <h3 class="cell_r">Betäubungen</h3>
    <div class="grid gridcenter">
        <span class="derivedValue">{{data.data.bruises.value}} / {{data.data.bruises.max}}</span>
        <div class="flex">
            <i class="fas fa-caret-left decBruises"></i>
            <input type="range" min="0" max={{data.data.bruises.max}} value="{{data.data.bruises.value}}" name="data.bruises.value" data-type="Number" class="slider" id="bruises_slider">
            <i class="fas fa-caret-right incBruises"></i>
        </div>
        <div class="grid gridcenter">
            <p>Max. Betäubungen</p>
            <div>
                <span>5 + </span>
                <input type="number" name=data.bruises.bonus value={{data.data.bruises.bonus}}>
            </div>
        </div>
    </div>
    
    <h3 class="cell_r">Wunden</h3>
    <div class="grid gridcenter">
        <span class="derivedValue">{{data.data.wounds.value}} / {{data.data.wounds.max}}</span>
        <div class="flex">
            <i class="fas fa-caret-left decWounds"></i>
            <input type="range" min="0" max={{data.data.wounds.max}} value="{{data.data.wounds.value}}" name="data.wounds.value" data-type="Number" class="slider" id="wounds_slider">
            <i class="fas fa-caret-right incWounds"></i>
        </div>
        <div class="grid gridcenter">
            <p>Max. Wunden</p>
            <div>
                <span>5 + </span>
                <input type="number" name=data.wounds.bonus value={{data.data.wounds.bonus}}>
            </div>
        </div>
    </div>
</div>