<div>
    <h2>Attribute und Fertigkeiten</h2>
    <ul class="grid col2" id="statFeld">
    
        {{#each data.data.charattribut as |attrobj attrname|}}
        <li class="attrfeld">
                {{#if ../data.data.Bedrohungsstufe}}
                <div class="grid col2 ">
                    <div class="container_center">
                        <input type="checkbox" class="checkbox" id="{{attrname}}_prio" data-field="{{attrname}}" name="data.charattribut.{{attrname}}.prio" {{checked this.prio}}>
                        <label for="{{attrname}}_prio">Verstärkt</label>
                    </div>
                    <div class="container_center">
                        <input type="checkbox" class="checkbox" id="{{attrname}}_deprio" data-field="{{attrname}}" name="data.charattribut.{{attrname}}.dePrio" {{checked this.dePrio}}>
                        <label for="{{attrname}}_deprio">Abgeschwächt</label>
                    </div>
                </div>
                
                {{/if}}
                <div class="grid col2">
                    <span class="attrname">{{attrname}}</span>
                    <span class="attrvalue">                    
                    <input class="value_box" name="data.charattribut.{{attrname}}.attribut" value="{{attrobj.attribut}}" type="number" {{disabled ../data.data.Bedrohungsstufe}}>
                    <span>W</span>
                </span>
                </div>
                
                
            
            <ul class="fertfeld">
                {{#each this.skill as |fertval fertname|}}
                
                <li class="gridleftcenter">
                    <p>{{fertname}}</p>
                    
                    <div class="skillbox">
                        
                        <input class="value_box" name="data.charattribut.{{attrname}}.skill.{{fertname}}" value="{{this}}" type="number" {{disabled ../../data.data.Bedrohungsstufe}}>
                        <img class="d10-symbol roleSkill" data-rolltype="skill" data-attr="{{attrname}}" data-skill="{{fertname}}" data-modroll="false" src="systems/darkspace/icons/d10.svg">
                        <img class="d10-symbol roleSkill" data-rolltype="skill" data-attr="{{attrname}}" data-skill="{{fertname}}" data-modroll="true" src="systems/darkspace/icons/d10edit.svg">
                    </div>
                </li>
                
                {{/each}}
            </ul>
            {{#if this.ress.exists}}
            <ul class="fertfeld">
                <li>
                    <span>{{this.ress.ressname}}</span>
                    {{this.ress.value}}
                    <div class="flex">
                        <i class="fas fa-caret-left decRess" data-attr="{{attrname}}" data-skill="{{fertname}}"></i>
                        <input type="range" min="0" max={{this.ress.max}} value="{{this.ress.value}}" name="data.charattribut.{{attrname}}.ress.value" data-type="Number" class="slider">
                        <i class="fas fa-caret-right incRess" data-attr="{{attrname}}" data-skill="{{fertname}}"></i>
                    </div>
                </li>
            </ul>
            {{/if}}

            {{#if ../data.data.Bedrohungsstufe}}
            </label>
            {{/if}}
            </li>
        {{/each}}

        
    </ul>
</div>
