<div>
<h2 class="flex between">Gesundheit<i class="fas fa-cog changeProp" data-fieldtype="health"></i></h2>
<div class="grid col2 gridcenter h_gap">
    
    <div class="grid gridcenter">
        <h4>{{data.data.bruisesName}}</h4>
        <div class="flex between">
            <i class="fas fa-minus-square decBruises"></i>
            <span class="derivedValue">{{data.data.bruises.value}} / {{data.data.bruises.max}}</span>
            <i class="fas fa-plus-square incBruises"></i>
        </div>
        <span>
            {{#times data.data.bruises.value}}<i class="fas fa-band-aid"></i>{{/times}}{{#times data.data.bruises.remaining}}<i class="fas fa-band-aid opacity50"></i></i>{{/times}}
        </span>

    </div>
    
    <div class="grid gridcenter">
        <h4>{{data.data.woundsName}}</h4>
        <div class="flex between">
            <i class="fas fa-minus-square decWounds"></i>
            <span class="derivedValue"> {{data.data.wounds.value}} / {{data.data.wounds.max}}</span>
            <i class="fas fa-plus-square incWounds"></i>
        </div>
        <span>
            {{#times data.data.wounds.value}}<i class="fas fa-heartbeat"></i>{{/times}}{{#times data.data.wounds.remaining}}<i class="fas fa-heartbeat opacity50"></i>{{/times}}
        </span>
        
        
    </div>
    
</div>
{{#if data.data.conditions}}
<hr>
<div>
    {{data.data.conditions}}
</div>
{{/if}}
</div>

