<div>
    <h2 class="flex between"><span>Eigenschaften</span><i class="fas fa-plus createItem" data-type="Besonderheiten"></i></h2>
    
            <section>
                <ul class="item-list">
                {{#each Besonderheiten}}
                    <li>
                        <div class="item" data-item-id="{{this._id}}">
                            <div class="grid col2-21">
                                <div>
                                    <p class="talentname itemToChat">{{this.name}}</p>
                                    <p class="anmerkung">{{this.data.type}}</p>
                                </div>
                                
                                <div class="cell_c">
                                    <label class="collapsible" for="collapse-cntr-{{this._id}}"><i class="fas fa-info-circle"></i></label>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
                </ul>
            </section>
</div>