<form class="{{cssClass}}" autocomplete="off">
    

    
    <!--Info-Header-->
    {{>"systems/darkspace/templates/partials/character-sheet-header.html"}}
    
    <!--Tabs-->


    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">Werte</a>
        <a class="item" data-tab="combat">Kampf</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="notes">Notizen</a>
    </nav>
    

    <a class="roleable" data-roll="5d10kh2" data-label="Beschreibungstext">Test</a>
    <!--Sheetbody-->
    <section class="sheet-body">

        <!--Statblock-->
        <section class="tab stats" data-group="primary" data-tab="stats">
            {{>"systems/darkspace/templates/partials/character-sheet-stat-block.html"}}
        </section>

        <!--Kampfrelevante Werte-->
        <section class="tab combat" data-group="primary" data-tab="combat">
            {{>"systems/darkspace/templates/partials/character-sheet-combat.html"}}
        </section>
    
        <!--Items-->
        <section class="tab items" data-group="primary" data-tab="items">
            {{>"systems/darkspace/templates/partials/character-sheet-items.html"}}
        </section>

        <!--Notizen-->
        
        <section class="tab notes" data-group="primary" data-tab="notes">
            <div class="grid col3">
                <div>
                    <span>EP</span>
                    <input name="data.xp" value="{{data.data.xp}}" type="number">
                </div>
                <div>
                    <span>Netz EP</span>
                    <input name="data.xp_social" value="{{data.data.xp_social}}" type="number">
                </div>
                <div>
                    <span>Ress. EP</span>
                    <input name="data.xp_ress" value="{{data.data.xp_ress}}" type="number">
                </div>
            </div>
            <div class="grid col2">
                <div>
                    <h2>Beschreibung</h2>
                    {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
                </div>
                <div>
                    <h2>Notizen</h2>
                    {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable rollData=rollData}}
                </div>
               
            </div>
            
            
        </section>
    </section>
    
    
</form>