<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

    </header>
    
    
    
    {{>"systems/darkspace/templates/partials/MKSize.html"}}
    <div class="">
        <div>
            <h2>Module</h2>
            {{editor content=data.data.module target="data.module" button=true owner=owner editable=editable rollData=rollData}}
        </div>
        <div>
            <h2>Beschreibung</h2>
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>
        
    </div>
</form>
