<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

    </header>
    
    
  <div>
        <div class="grid col5">
            
            <div>Schaden</div>
            <div>Reichweite</div>
            <div>Größe</div>
            <div>MK</div>
            <div>Fertigkeit</div>
            

            <input name="data.damage" type="text" value="{{data.damage}}">
            <input name="data.range" type="text" value="{{data.range}}">
            <input name="data.size" type="number" value="{{data.size}}">
            <input name="data.mk" type="number" value="{{data.mk}}">
            <select name="data.attackWith">
                {{#select data.attackWith}}
                    {{#each config.attackTypes as |name skillname|}}
                        <option value="{{skillname}}" type="text">{{name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div>
            <textarea name="data.modules" type="text" data-dtype="text">{{data.modules}}</textarea>
            <textarea name="data.description" type="text" >{{data.description}}</textarea>
        </div>
        <a class="item-create" data-stype="module">
            <i class="fas fa-plus"></i>
        </a>
        
    </div>
</form>
