<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

    </header>
    
    <img src={{this.data.img}} height="64" width="64">
    {{this.data.img}} 
    <div> <!--Itemsheet-Body-->
    {{>"systems/darkspace/templates/partials/MKSize.html"}}
        <div class="grid col3">
            <div>Schaden</div>
            <div>Reichweite</div>
            <div>Fertigkeit</div>
            
            <input name="data.damage" type="text" value="{{data.data.damage}}">
            <input name="data.range" type="text" value="{{data.data.range}}">
            
            <select name="data.attackWith"> <!--Zeigt auf den Value, der verändert werden soll. Ja das ist verwirrend mit dem Select-Helper-->
                {{#select data.data.attackWith}} <!--Wählt den Value aus, der Beschrieben werden soll-->
                    {{#each config.attackTypes}} <!--Stellt die Liste mit Optionen zusammen-->
                        <option value="{{@key}}" type="text">{{this}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        {{editor content=data.data.description target="data.data.description" button=true owner=owner editable=editable rollData=rollData}}
    </div>
</form>
