/* ---- Foundry Style Overwrite ---- */

h2 {
    border-bottom: 1px solid rgb(124, 124, 124);
    margin-top: 20px;
    text-align: center;
}
h3 {
    text-align: center;
}
img {
    border: none;
}
img.roll-btn {
    padding: 5px;
    width: 60px;
    border-radius: 100%;
    margin: 8px;
    transition: 0.2s linear;
}
img.roll-btn:hover {
    box-shadow: 0px 0px 5px #fff;
    background: #fff;
}


.window-app .window-content, .chat-message, #chat-form textarea {
    background: rgb(194,194,194);
    background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgba(228,228,228,1) 100%);
}

.sheet .editor-content {
    height: 125px;
}

.sheet nav.sheet-tabs {
    height: auto;
    margin: 0;
    line-height: initial;
    border: none;
}


.window-content a:hover {
    text-shadow: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    box-shadow: 0 0 5px #fff;
}
.tabs .item.active {
    text-shadow: 0 0 10px #fff;
}

.window-content a.item {
    border: 1px solid #782e22;
    width: 80%;
    padding: 5px 0;
}
.window-content a.item:hover {
    background: #782e22;
    color: #fff;
}

/* ---------- Sheet Style ---------- */

.checkcounter {
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 0%;
    cursor: pointer;
}
.checkcounter.active {
    background: #000;
}

input[type="number"] {
    width: 40px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.border {
    border: 1px #000 solid;
    padding: 5px;
    margin: 5px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;
}


.grid {
    display: grid;
    grid-gap: 0 1em;
}
.gridcenter {
    justify-items: center;
    align-items: center;
    
}

.col2 {
    grid-template-columns: repeat(2, 1fr);
}
.col2-12 {
    grid-template-columns: 1fr 2fr;
}
.col2-21 {
    grid-template-columns: 2fr 1fr;
}
.col2-31 {
    grid-template-columns: 3fr 1fr;
}
.col3 {
    grid-template-columns: repeat(3, 1fr);
}
.col4 {
    grid-template-columns: repeat(4, 1fr);
}
.col5 {
    grid-template-columns: repeat(5, 1fr);
}
.col6 {
    grid-template-columns: repeat(6, 1fr);
}
.col7 {
    grid-template-columns: repeat(7, 1fr);
}
.col8 {
    grid-template-columns: repeat(8, 1fr);
}
.col9 {
    grid-template-columns: repeat(9, 1fr);
}
.col10 {
    grid-template-columns: repeat(10, 1fr);
}

.span2 {
    grid-column: 1 / span2;
}
.span3 {
    grid-column: 1 / span3;
}
.span4 {
    grid-column: 1 / span4;
}

.cell_c {
    justify-self: center;
    align-self: center;
}
.cell_l {
    justify-self: left;
}
.cell_r {
    justify-self: right;
}
.container_center {
    margin: 0 auto;
    width: fit-content;
}

.description_box {
    background: rgba(255,255,255,0.5);
}
.value_box {
    max-width: 5ch;
}

.attrfeld {
    border: 1px solid rgb(124, 124, 124);
    margin: 5px 0;
    padding: 5px;
}
.attrfeld input {
    text-align: center;
    justify-self: right;
}
.attrfeld:last-child {
    display: none;
}
.fertfeld li {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.talentname {
    border-left: 1px solid;
    margin: 4px 0 0 0;
    padding: 0 5px;
    font-size: 1.2em;
}
.talentattr {
    color: rgb(124, 124, 124);
    font-size: 0.9em;
}