:root {
  --main-color: #00a7f5;
  --secondary-color: #fff;
  --effect-color: #00d7ff;
  --dark-blue: #295177;
}

body {
  font-family: system-ui;
  background-image: url("../styles/bg_ds_fvtt.png");
  background-position: center;
  background-attachment: initial;
  background-size: cover;
}
.sheet.Charakter {
  min-width: 750px;
}
h1 {
  background: none;
  border: none;
  height: auto;
  border-bottom: 3px solid var(--dark-blue);
}
h1 input[type="text"] {
  background: none;
  border: none;
}
h2 {
  border-bottom: 2px solid var(--dark-blue);
  margin-top: 20px;
  width: 100%;
  font-size: 15pt;
}
p {
  margin: 0;
}
img {
  border: none;
}
#sidebar-tabs {
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--effect-color);
}
#sidebar-tabs > .item.active {
  color: #fff;
  border: 1px solid var(--main-color);
  border-bottom: none;
  box-shadow: 0 0 6px inset var(--effect-color);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  border: var(--dark-blue);
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #000 inset;
  border-radius: 0px;
}
button:hover,
button:focus {
  box-shadow: 0 0 5px var(--effect-color);
}
a:hover {
  text-shadow: 0 0 8px var(--effect-color);
}

.window-app .window-content,
.chat-message,
#chat-form textarea {
  background: rgb(194, 194, 194);
  background: linear-gradient(0deg, rgb(179 188 193) 0%, rgb(231 244 253) 100%);
  scrollbar-color: #fff #000;
}

.sheet nav.sheet-tabs {
  height: auto;
  margin: 0;
  padding: 0;
  line-height: initial;
  border: none;
}
.sheet .tabs .item {
  height: 33px;
  background-color: #bec8ce;
}
.tabs .item.active {
  text-shadow: 0 0 10px #fff;
  border: solid 1px var(--dark-blue);
  border-top: solid 3px var(--dark-blue);
  background-color: #9cb7c5;
}

.window-content a:hover {
  text-shadow: none;
}
.window-content a.item {
  width: 80%;
  min-width: 10ch;
  padding: 5px 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.window-content a.item:hover {
  background: var(--dark-blue);
  color: #fff;
}

header input[type="text"] {
  text-align: left;
}

input[type="text"] {
  text-align: center;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"] {
  border: none;
  border-bottom: 1px solid #00000063;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.336);
}
input:disabled {
  border: none;
}

.customAE {
  padding: 5px;
  border: solid;
  height: 50px;
  width: 50%;
  margin: 0 auto;
}
.customAE > * {
  text-align: center;
  width: 50px;
  color: #fff;
  font-size: 20px;
}
.customAE input[type="value"] {
  background: none;
  font-size: 25px;
  border: none;
}
.customAE button {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}
.customAE button:hover {
  outline: none;
  box-shadow: 0 0 5px var(--effect-color);
  font-size: 25px;
  transition: 0.2s linear;
}

.fa-clock {
  margin: 5px 0;
}

.fertfeld .fa,
.fertfeld .fas {
  padding: 0;
}
form .notes,
form .hint {
  line-height: inherit;
  color: inherit;
}

form.editable {
  overflow: hidden;
}
section#header {
}
section#header .scrollable {
  overflow: auto;
  height: 100px;
}
section#navbar {
  height: 50px;
}
.sheet-body {
  overflow: hidden scroll;
  padding: 0px 10px;
}

.editor .editor-content {
  min-height: 400px;
  max-width: calc(100% - 40px);
}

input[type="number"] {
  width: 40px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.editor ul {
  list-style: initial;
  padding-left: 20px;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fcol2 {
  flex-direction: row;
  height: inherit;
  justify-content: space-around;
}
.fcol2 .desc-content {
  width: 47%;
  height: 100%;
}
.flex.start {
  justify-content: start;
  align-items: flex-start;
}
.flex.evenly {
  justify-content: space-evenly;
}
.flex.between {
  justify-content: space-between;
}
.flex.strech {
  align-items: strech;
}
.flex.verticalalign {
  align-items: center;
}
.flex.around {
  justify-content: space-around;
}
.column {
  flex-direction: column;
}
.flexDice {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
  font-weight: bold;
}
.flexResult {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}
.wrap {
  flex-wrap: wrap;
}
.gap {
  gap: 2ch;
}
.xgap {
  gap: 2ch 0;
}
.ygap {
  gap: 0 2ch;
}
.half {
  flex: 1 1 48%;
}
.block {
  display: block;
}
.grid {
  display: grid;
  grid-gap: 0 1em;
}
.gridcenter {
  justify-items: center;
  align-items: center;
}
.gridleftcenter {
  justify-items: left;
  align-items: center;
}
.gridrightcenter {
  justify-items: right;
  align-items: center;
}
.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.col2-12 {
  grid-template-columns: 1fr 2fr;
}
.col2-13 {
  grid-template-columns: 1fr 3fr;
}
.col2-21 {
  grid-template-columns: 2fr 1fr;
}
.col2-23 {
  grid-template-columns: 2fr 3fr;
}
.col2-13 {
  grid-template-columns: 1fr 3fr;
}
.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.col3-112 {
  grid-template-columns: 1fr 1fr 2fr;
}
.col3-121 {
  grid-template-columns: 1fr 2fr 1fr;
}
.col3-211 {
  grid-template-columns: 2fr 1fr 1fr;
}
.col3-212 {
  grid-template-columns: 2fr 1fr 2fr;
}
.col3-221 {
  grid-template-columns: 2fr 2fr 1fr;
}
.col3-122 {
  grid-template-columns: 1fr 2fr 2fr;
}
.col3-231 {
  grid-template-columns: 2fr 3fr 1fr;
}
.col3-232 {
  grid-template-columns: 2fr 3fr 2fr;
}
.col4 {
  grid-template-columns: repeat(4, 1fr);
}
.col4-2211 {
  grid-template-columns: 2fr 2fr 1fr 1fr;
}
.col5 {
  grid-template-columns: repeat(5, 1fr);
}
.col5-31111 {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}
.col5-22111 {
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
}
.col6 {
  grid-template-columns: repeat(6, 1fr);
}

.col-weapons {
  grid-template-columns: 44px auto 10ch 15ch 10ch 45px;
  gap: 1ch 0;
  align-items: center;
}

.span2 {
  grid-column: 1 / span2;
}
.span3 {
  grid-column: 1 / span3;
}
.span4 {
  grid-column: 1 / span4;
}
.span23 {
  grid-column: 2 / span2;
}

.cell_c {
  justify-self: center;
  align-self: center;
}
.cell_l {
  justify-self: left;
}
.cell_r {
  justify-self: right;
}
.cell_d {
  align-self: flex-end;
}
.cell_t {
  align-self: flex-start;
}
.container_center {
  display: block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
.nogap {
  grid-gap: 0;
}
.h_gap {
  grid-row-gap: 2em;
}

.text_c {
  text-align: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
.defaultsize {
  font-size: 1rem;
}
.bigsize {
  font-size: 1.2rem;
}
.doublesize {
  font-size: 2rem;
}
.value_box {
  max-width: 5ch;
}
.opacity50 {
  opacity: 0.5;
}
.marginx {
  margin: 10px 0;
}

.borderbox {
  background-color: #e6f3fc82;
  margin: 5px 0;
  padding: 5px;
}
.borderbox input {
  text-align: center;
  justify-self: right;
}
.round {
  border-radius: 10px;
}
.attrvalue {
  justify-self: end;
  display: flex;
  align-items: center;
}
.attrname {
  text-transform: uppercase;
}
.d10-symbol {
  margin: 0px;
  padding: 0px;
  width: 20px;
  opacity: 0.4;
  border-radius: 50%;
}
.fa-caret-left:hover,
.fa-caret-right:hover,
.button:hover,
.d10-symbol:hover,
.changeProp:hover,
label:hover,
label > *:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  opacity: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.fertfeld li {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.inline_block,
li .inline_block {
  display: inline-block;
}
.iconbox,
li.pill {
  border: 1px solid;
  border-radius: 4px;
  width: max-content;
  font-size: 8pt;
  background-color: #c7c7c7;
}
li.pill.padding {
  padding: 1px 2px;
}
li input[type="checkbox"]:checked + label {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 0;
}

.handicap {
  color: #940000;
}
.merit {
  background-color: var(--primary-color);
}
.pill .artifizierung {
  background-color: rgb(169, 202, 202);
}
.iconbox {
  padding: 2px 4px;
  font-size: inherit;
}
.iconbox .fas {
  padding: 0px 2px;
}

.handlicapCheck {
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  border: 1px solid;
}
.anmerkung {
  opacity: 0.75;
  font-size: 0.8em;
}
.actorimg {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.npcBonus {
  width: 5ch;
  margin-left: 2ch;
}
.skillbox {
  justify-self: right;
  display: flex;
  align-items: center;
}
.collapsible-cntr {
  display: none;
}
.collapsible-cntr + div {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s linear;
}
.collapsible-cntr:checked + div {
  max-height: 150px;
  overflow: scroll;
}
.pointer,
.collapsible {
  cursor: pointer;
}
.einzug_ul {
  margin-left: 4ch;
}

.evalDice,
.bold {
  font-weight: bold;
}
.unEvalDice {
  color: rgb(161, 161, 161);
}
.kritDice {
  color: var(--main-color);
}
.tab.combat li.item,
.tab.items li.item {
  border-bottom: solid 1px #948686;
  padding: 5px 0 0 0;
  margin: 0px 0;
}

input[type="checkbox"].item-quick-edit,
input[type="checkbox"].symbol,
input[type="radio"],
.noDisplay {
  display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  padding: 5px 10px;
  flex: 1;
  text-align: center;
}
input[type="radio"]:not(:checked) + label {
  opacity: 0.5;
}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  opacity: 1;
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 5px;
}
.handicap input[type="checkbox"]:checked + label {
  background-color: rgb(70, 0, 0);
}
input[type="checkbox"] + label[for="ranged"] {
  background-color: initial;
  color: initial;
}
input[type="checkbox"] + label[for="ranged"]:hover {
  color: var(--main-color);
}

.target {
  background: linear-gradient(45deg, #943000, transparent);
}
.target.active {
  background: linear-gradient(45deg, #005194, transparent);
}
.customRoll {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 9px;
  border-radius: 6px;
}
.customDiceBox {
  display: flex;
  flex: 0 1;
  margin: 6px;
}
.customDiceBoxField {
  display: flex;
  flex: 0 1;
  margin: 6px 0;
  background: linear-gradient(0deg, rgb(179 188 193) 0%, rgb(231 244 253) 100%);
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  font-size: 13pt;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
  width: 120px;
}
.tooltiptext.top {
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltiptext.right {
  top: -5px;
  left: 105%;
}
.tooltiptext.bottom {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.meritbox li:not(.pill) {
  list-style: disc;
  margin: 0 0 0px 20px;
}
